<%content_for :js do%>
$(function() {
	// document.cookie = "facebook_access_token=" + escape(document.location.hash);
	var elements = document.location.hash.split("&");
	var token = elements[0].split('=')[1];
	document.location.hash = "";
	$.get('https://graph.facebook.com/me',{access_token: token},function (data){
	//	alert(data);
	//	alert(JSON.parse(data));
	//	var values = $.parseJSON(data);
		$('#name').val(data.name);
		$('#email').val(data.email);
	});
	

});
<%end%>

<div class="authorization_header">New Account</div>
<div class="authorization_form">
	<%= link_to 'Fill from facebook', "https://www.facebook.com/dialog/oauth?client_id=213847565419629&redirect_uri=#{sign_up_url}&scope=email&response_type=token"%>
	<div class="input_classic">
		<input class="authorization" placeholder="Username"/>
	</div>
	<div class="input_classic">
		<input name="user[confirm_password]" type="password" class="authorization" placeholder="Password"/>
	</div>	
	
	<div class="input_classic">
		<input id='name' class="authorization" placeholder="Full Name"/>
	</div>
	<div class="input_classic">
		<input id='email' class="authorization" type="email" placeholder="e-mail"/>
	</div>	
	<div class="input_classic">
		<a href="<%=iamnew_profile_url%>"><input type="submit" class="submit" value="next"/></a>
	</div>	
	<a class="guidance">Already have an account?</a>
	<a class="guidance_option" href="<%=sign_in_url%>">Sign In</a>
</div>

