<div class="authorization_header">New Account</div>
<div class="authorization_form">
	<div class="input_classic">
		<input class="authorization" placeholder="Username"/>
	</div>
	<div class="input_classic">
		<input name="user[confirm_password]" type="password" class="authorization" placeholder="Password"/>
	</div>	
	<div class="input_classic">
		<a href="<%=iamnew_profile_url%>"><input type="submit" class="submit" value="next"/></a>
	</div>	
	<a class="guidance">Already have an account?</a>
	<a class="guidance_option" href="<%=sign_in_url%>">Sign In</a>
</div>