<div class="authorization_header">Some Settings</div>
<div class="authorization_form">

	<div class="input_classic">
		<a href="<%=edit_profile_url%>" class="button_link"/><span>Edit Profile</span></a>
	</div>	
	<div class="input_classic">
		<a href="<%=index_demo_url%>"><input type="submit" class="submit" id="signout" value="Sign Out"/></a>
	</div>	
	<a class="guidance">Don't forget about the iPhone App - it has more features</a>
</div>

<div class="activity_menu">
	<%= link_to '<div class="back_button" id="bb_ppl_list"></div>'.html_safe, :back %>
</div>