<%if flash[:error] || flash[:ok]%>
	<script>
	$(document).ready(function(){
		$('#confirmation').show(1000);
		setTimeout(function(){$('#confirmation').fadeOut(1000)},3000);
	});
	</script>
<%end%>

<div class="logo_top">
	<img src="/assets/canu_logo.svg">
</div>

hello

<%unless flash[:ok].nil?%>
<div id="confirmation"><%=flash[:ok]%></div>
<%end%>
<%unless flash[:error].nil?%>
<div id="confirmation"><%=flash[:error]%></div>
<%end%>

<div class="above" id="surface">
	<div class="content_top_full"></div>
	<div class="content_top"></div>
</div>
<div class="below" id="underwater">
	<div class="surface_info" id="fuck">
		<img src="/assets/baloon.svg" id="baloon">
		<p class="surface_header" id="header_main">
			Getting together is about to 
			<span>change</span>
		</p>
		<div class="codes">
			<a class="alpha_button i_got" id="goto_join">I WANT TO JOIN</a>
			<a class="i_want" id="goto_code">I have a nose</a>
			<div class="form_window" id="form_join">
				<%= form_for @user, :url => new_user_url do |f|%>
				<div class="input_holder">
					<input name="user[name]" type="text" id="code" placeholder="Your Name"/>
				</div>
				<div class="input_holder">
					<input name="user[email]" type="text" id="email" placeholder="e-mail"/>
				</div>
				<div class="input_holder">
					<input type="submit" name="submit" value="REQUEST INVITE" class="submit_button" id="submit_join"/>
				</div>
				<%end%>
			</div>
			<div class="form_window_code" id="form_code">
				<%= form_for @user, :url => root_url do |f|%>
				<div class="input_holder">
					<input name="user[code]" type="text" id="code" placeholder="Code"/>
				</div>
				<div class="input_holder">
					<input name="user[name]" type="text" id="code" placeholder="Your Name"/>
				</div>
				<div class="input_holder">
					<input name="user[email]" type="text" id="email" placeholder="e-mail"/>
				</div>
				<div class="input_holder">
					<input type="submit" name="submit" value="GET GOING" class="submit_button" id="submit_code"/>
				</div>
				<%end%>
			</div>
		</div>
	</div>	
	<div id="iceberg_main">
		<img src="/assets/iceberg.svg">
	</div>
	
	<div class="content">
		<div id="dive_in_action" class="dive_in">
			<p style="display: none">Get Air</p>
			<p>Dive In</p>
		</div>
		<p class="iceberg" id="welcome">
				Hi!
					<br/>
We are entering Iceberg state. We’ve been working completely under water for five months now. And its time to invite you to take part of the progress together with us. We will start putting things on the surface but most of the work will still be under water.
		</p>
	</div>	
	

	<div id="underworld" class="underworld_content">
		<div id="tabs">
			<ul class="menu_bottom">
				<li><a href="#tab-1">About</a></li>
				<li><a href="#tab-2">Team</a></li>
				<li><a href="#tab-3">Contact</a></li>
				<a class="other" href="http://blog.canu.se/" target="_blank">Blog</a>
			</ul>
			
			<div class="apple" id="tab-1">
				<p class="left">CANU is an app that    makes it fast and simple for you to share and join spontaneous activities on the go.<br/><br/>Stop scrolling through the past. Look into the future, join the fun and be part of something real. </p>
			</div>
			 <div class="apple" id="tab-2">
				 <span class="team" id="team_section">
					<p class="header">Our Story</p>
					<p class="body">Tribes once was the shit. But internet came and social media turned us all into followers.
We believe that there is a leader in everyone and that you deserve your own tribe. You decide who is in it and who is left out. You set the rules and the sub tribes, your in control of where your content end up.</p>
					<ul class="team">
						<li id="did"></li>
						<li id="rog"></li>
						<li id="vit"></li>
						<li id="seb"></li>
					</ul>
					<ul class="details">
						<li>
							<p class="name">Didrik Persson</p>
							<p class="title">CEO & Founder</p>
							<p class="email">didrik@canu.se</p>
						</li>
						<li>
							<p class="name">Roger Calaf</p>
							<p class="title">CTO & Founder</p>
							<p class="email">roger@canu.se</p>
						</li>
						<li>
							<p class="name">Vitali Poluzhnikov</p>
							<p class="title">Vision/Design & Founder</p>
							<p class="email">vitali@canu.se</p>
						</li>
						<li>
							<p class="name">Sebastian Gustafsson</p>
							<p class="title">Evangelist & Founder</p>
							<p class="email">sebastian@canu.se</p>
						</li>

					</ul>
					<p class="header">Join our Tribe</p>
					<p class="body">Like what we are doing? Well, we are in a lookout for the very right people. Drop us a line and lets talk.</p>
				</span>
			 </div>
			 <div class="apple" id="tab-3">
				 <p class="header">Ask us anything</p>
				 <p class="body">getgoing@canu.se</p>
				 <p class="header">Tech Support</p>
				 <p class="body">support@canu.se</p>
			 </div>	
		</div>
	</div>

	

</div>
