<div class="feature">
	<a class="authorization_header">Reset Password</a>
	
	
	<div class="authorization_form">
		<div class="input_classic">
			<input name="user[email]" type="password" class="authorization<%= flash[:error].nil? ? '' : ' error_validation'%>" placeholder="<%= flash[:error].nil? ? 'New Password' : flash[:error]%>"/>
		</div>
		<div class="input_classic">
			<input name="user[email]" type="password" class="authorization<%= flash[:error].nil? ? '' : ' error_validation'%>" placeholder="<%= flash[:error].nil? ? 'Repear Password' : flash[:error]%>"/>
		</div>
		<div class="input_classic">
			<input name="user[email]" type="submit" class="submit"/>
		</div>
	</div>
	
	
</div>	

