<div class="feature">
	<a class="authorization_header" id="reset_intro">Reset Password</a>
	<a class="authorization_header" id="reset_confirmation">You can now sign in with your new password</a>
	
	
	<div class="authorization_form">
		<div class="input_classic">
			<input name="user[new_password]" type="password" 
			class="authorization fb_ok<%= flash[:error].nil? ? '' : 'fb_error'%>" 
			placeholder="<%= flash[:error].nil? ? 'New Password' : 'This password is not new'%>"/>
		</div>
		<div class="input_classic">
			<input name="user[confirm_password]" type="password" 
			class="authorization fb_error<%= flash[:error].nil? ? '' : ' fb_error'%>" 
			placeholder="<%= flash[:error].nil? ? 'Verify Password' : 'Try Again'%>"/>
		</div>
		<div class="input_classic">
			<a ontouchstart=""><input name="user[email]" type="submit" class="submit" value="reset" id="submit_reset"/></a>
		</div>	
		<a class="guidance">Need help? help@canu.se</a>
	</div>
	
	
</div>	

