
<div class="authorization_header" id="reset_intro">Reset Password</div>
<div class="authorization_header" id="reset_confirmation">You can now sign in with your new password</div>


<div class="authorization_form">
	<div class="input_classic">
		<input name="user[new_password]" type="password" 
		class="authorization fb_ok<%= flash[:error].nil? ? '' : 'fb_error'%>" 
		placeholder="<%= flash[:error].nil? ? 'New Password' : 'This password is not new'%>"/>
	</div>
	<div class="input_classic">
		<input name="user[confirm_password]" type="password" 
		class="authorization fb_error<%= flash[:error].nil? ? '' : ' fb_error'%>" 
		placeholder="<%= flash[:error].nil? ? 'Verify Password' : 'Try Again'%>"/>
	</div>
	<div class="input_classic">
		<input type="submit" class="submit"/>
	</div>	
	<a class="guidance">Need help? help@canu.se</a>
</div>
	
	

