<div class="feature">
	<a class="authorization_header">Reset Password</a>
	
	
	<div class="authorization_form">
		<div class="input_classic">
			<input name="user[email]" type="password" class="authorization fb_ok<%= flash[:error].nil? ? '' : ' error_validation'%>" placeholder="<%= flash[:error].nil? ? 'New Password' : flash[:error]%>"/>
		</div>
		<div class="input_classic error">
			<input name="user[email]" type="password" class="authorization fb_error<%= flash[:error].nil? ? '' : ' error_validation'%>" placeholder="<%= flash[:error].nil? ? 'Repeat Password' : flash[:error]%>"/>
		</div>
		<div class="input_classic">
			<input name="user[email]" type="submit" class="submit" value="reset"/>
		</div>	
		<a class="guidance">Need help? help@canu.se</a>
	</div>
	
	
</div>	

