<div class="slide" id="slide4" data-slide="4" data-stellar-background-ratio="0">
	
	<div class="stats">

		<img class"logoshit" src="/assets/canu_logo.png">

		<ul class="stats">
			<li><span>CODES CONFIRMED: <%=@confirm.size%></span></li>
			<li><span>ASKED FOR CODE: <%=@ask_for_code.size%></span></li>
		</ul>
	
	</div>
</div>