
<ul class="stats">
	<li>
		<a class="item">Total Downloads:</a> 
		<a class="number">-</a>
	</li>
	<li>
		<a class="item">Asked for a code:</a> 
		<a class="number"><%=@ask_for_code.size%></a>
	</li>
	<li>
		<a class="item">Confirmed e-mails:</a> 
		<a class="number"><%=@confirm.size%></a>
	</li>
	<li>
		<a class="item">Ghost Users:</a> 
		<a class="number">-</a>
	</li>
	<li>
		<a class="item">Activities Created:</a> 
		<a class="number activity">-</a>
	</li>
	<li>
		<a class="item">Activities Attended:</a> 
		<a class="number activity">-</a>
	</li>
</ul>

<div class="map_stats">
	<a class="item" style="height: 40px;">Live Activites:</a> 
	<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=&amp;aq=&amp;sll=59.32893,18.06491&amp;sspn=0.465152,1.009369&amp;t=m&amp;ie=UTF8&amp;ll=43.068888,-6.328125&amp;spn=86.706866,246.09375&amp;z=2&amp;output=embed">
	</iframe>
</div>	

