<% content_for(:head) do %>
  <%= tag(:link, :rel => :canonical, :href => "http://www.canu.se/about") %>
<% end %>
<!-- Google serach
-->
<% set_meta_tags :robots => "noodp,noydir" %>
<% set_meta_tags :description => "Put your future activities in one place. CANU is the quickest way to get your friends together." %>
<!-- Facebook
-->
<% set_meta_tags :og => { :title => 'CANU - About Us', :type => 'website',:url => 'http://www.canu.se/', :image => 'http://localhost:3000/images/facebook_img.png', :description => 'Put your future activities in one place. CANU is the quickest way to get your friends together.', :site_name => 'CANU.se'} %>
<div class="feature">
	<p class="intro_header">
		What happens when a Swede, a Spaniard and a Russian get together?
	</p>
	<p class="header">Meatballs and vodka at the beach? Not always.<p>
	<p class="body">
	
	We met, while studying at a pretty cool place called <a href="http://www.hyperisland.com" target="_blank" class="intext">Hyper Island</a>. We quickly abandoned the idea of working in the advertising industry, thus found our baby - CANU. We are a dangerous Russian, a lazy Spaniard and a Swedish farmer, from a country called Skåne. Vitali, Roger and Didrik. 
	
	<br/><br/> 
	
	 We all happened to like people. What do people want? What do we want? What is the next coolest tool that we can invent? How can we make a killer service? 
	 </p>

	 	 <p class="header">First. How the hell do you get to know local Swedes?</p>
	  
	  <p class="body"> It's quite impossible. Our Brazilian friend Caio is even ready to <a href="http://www.furniturefellowship.se" target="_blank" class="intext">assemble IKEA furniture</a>, just to get to know you. How desperate are we? We just went for an app. What else. 
	 <br/><br/> We want everyone to loose their social virginity - to start talking to each other. Yes, to complete strangers. Not randomly bumping into one another in the metro, but by sharing some hidden passions with everyone else in the city. We love openness, fearlessness and risk-taking. The <b>Local</b> feed is exactly what we started with. Just fly around and find the other so called soul-mates. Whether it's drinking, fooling around, having fika or going fishing. Whatever makes one happy - we want everyone to share it and find each other.
	 
	  </p>
	 <p class="header">We are not only after the strange</p>
	 <p class="body">	
	  We did not forget about our friends and your friends. How can we spend more time together? Annoyed by the inefficiency of texting and un-human Facebook events, we got down to <b>Tribes</b>. These are the groups of people we spend time together with and meet occasionally. It is tough to keep track of what everyone is doing in the future. That's what is been put in place.
	 
	 <br/>

	</p>
	<span class="team" id="team_section">
		<ul class="team">
			<li id="did"></li>
			<li id="rog"></li>
			<li id="vit"></li>
			<li id="viv"></li>
			<li id="lea"></li>
		</ul>
		<ul class="details">
			<li>
				<p class="name">Didrik Persson</p>
				<p class="title">CEO & Founder</p>
				<p class="email">didrik@canu.se</p>
			</li>
			<li>
				<p class="name">Roger Calaf</p>
				<p class="title">CTO & Founder</p>
				<p class="email">roger@canu.se</p>
			</li>
			<li>
				<p class="name">Vitali Poluzhnikov</p>
				<p class="title">Designer & Founder</p>
				<p class="email">vitali@canu.se</p>
			</li>
			<li>
				<p class="name">Vivien Cormier</p>
				<p class="title">iOS Developer</p>
				<p class="email">vivien@canu.se</p>
			</li>
			<li>
				<p class="name">Léa Taloc</p>
				<p class="title">Interactive Designer</p>
				<p class="email">lea@canu.se</p>
			</li>
		</ul>
	</span>

	<p class="header">Join our Tribe</p>
	<p class="body">Like what we are doing? We are always on the lookout to work with cool people.<br/>
Contact us and let's talk.</p>
<!--
	<p class="header">Our valuable friends</p>
	<p class="body">
		Joakim Runeson - for the best insights.<br/>
		Alexander Collin - for complaining about the design.<br/>
		Carl Waldekranz - for being casual.<br/>
		Sebastian Gustafsson - for being with us from the start.<br/>
		Micke Ahlström - for making us feel young.<br/>
		Chris Hale - for giving us sh..<br/>
	</p>-->
</div>