<% content_for(:head) do %>
	<%= tag(:link, :rel => :canonical, :href => "http://www.canu.se/about") %>
<% end %>
<!-- Google serach
-->
<% set_meta_tags :robots => "noodp,noydir" %>
<% set_meta_tags :description => "Put your future activities in one place. CANU is the quickest way to get your friends together." %>
<!-- Facebook
-->
<% set_meta_tags :og => { :title => 'CANU - About Us', :type => 'website',:url => 'http://www.canu.se/', :image => 'http://canu.se/images/facebook_img.png', :description => 'Put your future activities in one place. CANU is the quickest way to get your friends together.', :site_name => 'CANU.se'} %>
<div class="feature">
	<p class="intro_header">
		Meet the first users
	</p>
	<p class="header">Meatballs and vodka at the beach? Nope<p>
	<p class="body">
	
	We met, while studying at a pretty cool place called <a href="http://www.hyperisland.com" target="_blank" class="intext">Hyper Island</a>. We quickly abandoned the idea of working in the advertising industry and decided to build a meaningful product instead. 
	<!--We were a dangerous Russian, a lazy Spaniard and a Swedish farmer from a country called Skåne. Vitali, Roger and Didrik. -->
	
	<br/><br/> 
	
	 We all happened to like people and do stuff. What do people want? What do we want? What cool tool can we invent? How can we simplify our lives? 
	 </p>
	 <p class="quote">“...if it has something to do with getting together. We are there.”</p>

	 <p class="header">First. Why is it so damn hard to get friends together?</p>
	  
	  <p class="body">The digital world has in many ways helped us stay in touch with people we care about. But how can we spend more time together in the analog world? Annoyed by the inefficiency of texting and inhuman Facebook events, we got down to <b>Tribes</b>. These are groups of people we meet and spend time with occasionally. It's tough to keep track of what everyone is doing in the future. That's what we set out to solve. 
	 </p>
	 <p class="header">Second. How the hell do you get to know local Swedes?</p>
	 <p class="body">
	 It's quite impossible. Our Brazilian friend <a href="http://www.hicaio.com" target="_blank" class="intext">Caio</a> is even ready to <a href="http://www.furniturefellowship.se" target="_blank" class="intext">assemble IKEA furniture</a>, just to get to know them. We just went for an app.
	 
	 <br/><br/> 
	 
	 We love openness and risk-taking. That is exactly what the <b>Local</b> part is about. It is there you expand your <b>Tribe</b> and get to know the area you're in. It is what we were looking for when we first arrived to Stockholm - we wanted meet new people in a casual way. Just like Caio.
	</p>
	<p class="header">Our faces</p>
	<p class="body"> Didrik, Roger, Vitali, Vivien and Léa. We create activities like "Fix that Bug" or "Draw a Tipi". We focus on the product, but we do have activities like "Beers" and "Snowballs" from time to time. That's us.</p>
	<ul class="team">
		<li id="did">
			<p class="name">Didrik Persson</p>
			<p class="title">CEO & Founder</p>
			<p class="email"><a href="mailto:didrik@canu.se">didrik@canu.se</a></p>
		</li>
		<li id="vit">
			<p class="name">Vitali Poluzhnikov</p>
			<p class="title">Designer & Founder</p>
			<p class="email"><a href="mailto:vitali@canu.se">vitali@canu.se</a></p>
		</li>
		<li id="rog">
			<p class="name">Roger Calaf</p>
			<p class="title">CTO & Founder</p>
			<p class="email"><a href="mailto:roger@canu.se">roger@canu.se</a></p>
		</li>
		<li id="lea">
			<p class="name">Léa Taloc</p>
			<p class="title">Interactive Designer</p>
			<p class="email"><a href="mailto:lea@canu.se">lea@canu.se</a></p>
		</li>
		<li id="viv">
			<p class="name">Vivien Cormier</p>
			<p class="title">iOS Developer</p>
			<p class="email"><a href="mailto:vivien@canu.se">vivien@canu.se</a></p>
		</li>
	</ul>
	<!--
	<p class="header">Join our Tribe</p>
	<p class="body">Like what we are doing? We are always on the lookout to work with cool people.<br/>
Contact us and let's talk.</p>

	
	<p class="header">Our valuable friends</p>
	<p class="body">
		<b>Joakim Runeson</b> - for the best insights.<br/>
		<b>Alexander Collin</b> - for complaining about the design.<br/>
		<b>Carl Waldekranz</b> - for being casual.<br/>
		<b>Sebastian Gustafsson</b> - for being with us from the start.<br/>
		<b>Micke Ahlström</b> - for making us feel young.<br/>
		<b>Chris Hale</b> - for giving us sh..<br/>
	</p>-->
</div>