<div class="feature">
	<p class="intro_header">
		What happens when a Swede, a Spaniard and a Russian get together?
	</p>
	<p class="header">Meatballs and vodka at the beach? Not always.<p>
	<p class="body">
	
	We met, while studying at a pretty cool place called <a href="http://www.hyperisland.com" target="_blank" class="intext">Hyper Island</a>. We quickly abandoned the idea of working in the advertising industry, thus found our baby - CANU. We are a dangerous Russian, a lazy Spaniard and a Swedish farmer, from a country called Skåne. Vitali, Roger and Didrik. 
	
	<br/><br/> 
	
	 We all happened to like people. What do people want? What do we want? What is the next coolest tool that we can invent? How can we make a killer service? 
	 </p>

	 	 <p class="header">First. How the hell do you get to know local Swedes?</p>
	  
	  <p class="body"> It's quite impossible. Our Brazilian friend Caio is even ready to <a href="http://www.furniturefellowship.se" target="_blank" class="intext">assemble IKEA furniture</a>, just to get to know you. How desperate are we? We just went for an app. What else. 
	 <br/><br/> We want everyone to loose their social virginity - to start talking to each other. Yes, to complete strangers. Not randomly bumping into one another in the metro, but by sharing some hidden passions with everyone else in the city. We love openness, fearlessness and risk-taking. The <b>Local</b> feed is exactly what we started with. Just fly around and find the other so called soul-mates. Whether it's drinking, fooling around, having fika or going fishing. Whatever makes one happy - we want everyone to share it and find each other.
	 
	  </p>
	 <p class="header">We are not only after the strange</p>
	 <p class="body">	
	  We did not forget about our friends and your friends. How can we spend more time together? Annoyed by the inefficiency of texting and un-human Facebook events, we got down to <b>Tribes</b>. These are the groups of people we spend time together with and meet occasionally. It is tough to keep track of what everyone is doing in the future. That's what is been put in place.
	 
	 <br/><br/> Meet our faces and our backgrounds, and please don't forget to give CANU some feedback.

	</p>
	<span class="team" id="team_section">
		<ul class="team">
			<li id="did"></li>
			<li id="rog"></li>
			<li id="vit"></li>
			<div class="member_story" id="did_story">
				<p class="member_name">Didrik Persson</p>
				<p class="story">
				I grew up on a small farm in the south of Sweden called
Tillytorp, which was my home for 18 years. I’ve always been a thinker and a problem solver with a love for challenges and finding great solution to a difficult problem. As a kid I wanted to become an inventor for that reason alone. I am ambitious, fearless
and determined and right now I’m exploring my surroundings at Hyper Island, throwing myself out there and loving it.</p>
			</div>
			<div class="member_story" id="rog_story">
				<p class="member_name">Roger Calaf</p>
				<p class="story">
				Born and raised in Barcelona. I love playing soccer, sailing
and motor sports. I really enjoy the nature and outdoor activities. Since my first contact with MSX and BASIC at the age of 7 I’ve always been interested in the art of coding, that’s why I chose the developers path. I once started a business that sold caviar but that only ended up in a great friendship. Now I’m exploring my creative side and having fun developing great ideas at Hyper Island.
				</p>
			</div>
			<div class="member_story" id="vit_story">
				<p class="member_name">Vitali Poluzhnikov</p>
				<p class="story">
				Shaped up in the sunny side of Southern Russia, I was
surrounded by art, sport and nature in my early life. I lived in Montreal and Vancouver where I studied Graphic Design and Marketing. I am an initiator, solution designer and a dreamer. I love to challenge everything that follows the norm. I love electronic music, mountains, racing and great times with awesome people.</p>
			</div>	
		</ul>
		<ul class="details">
			<li>
				<p class="name">Didrik Persson</p>
				<p class="title">CEO</p>
				<p class="email">didrik@canu.se</p>
			</li>
			<li>
				<p class="name">Roger Calaf</p>
				<p class="title">CTO</p>
				<p class="email">roger@canu.se</p>
			</li>
			<li>
				<p class="name">Vitali Poluzhnikov</p>
				<p class="title">Vision/Design</p>
				<p class="email">vitali@canu.se</p>
			</li>
		</ul>
	</span>

	<p class="header">Join our Tribe</p>
	<p class="body">Like what we are doing? We are always on the lookout to work with cool people.<br/>
Contact us and let's talk.</p>

	<p class="header">Our valuable friends</p>
	<p class="body">
		Léa and Vivien - for adding french spices to the product.<br/>
		Joakim Runeson - for the best insights.<br/>
		Alexander Collin - for complaining about the design.<br/>
		Carl Waldekranz - for being casual.<br/>
		Sebastian Gustafsson - for being with us from the start.<br/>
		Micke Ahlström - for making us feel young.<br/>
		Chris Hale - for giving us sh..<br/>
		Patric Blixt - for buying us beer.<br/>
	</p>
</div>