
<div class="feature_bg" id="f_borring">
	<div class="feature">
	 	<p class="header"><span>Ask us anything</span></p>
		<p class="body">
			gettogether@canu.se</br></br>
		</p>
		<p class="header"><span>This is where we work right now! </p>
		<p class="body">
			Hyper Island
		</p>	
		<p class="tech" style="margin-top: -10px;">	
			Telefonvägen 30 <br/>
			126 26 Hägersten<br/>
		</p>
	</div>	
</div>	
