
<div class="feature">
 	<p class="header">Ask us anything</p>
	<p class="body">
		<a href="mailto:gettogether@canu.se">gettogether@canu.se</a></br>
	</p>
 	<p class="header">Let's meet</p>
	<p class="body">
		We are in Stockholm this summer. <br>Invite <b><i>"Vitali"</i></b> or <b><i>"Didrik"</i></b> via CANU, if you feel like grabbing beer or a coffee.
	</p>
	<p class="header">Read our stories</p>
	<p class="body">
		<a href="https://medium.com/future-tense">Medium</a></br>
	</p>
 	<p class="header">Engage with us</p>
	<p class="body">
		<a href="https://www.facebook.com/canugettogether">Facebook</a></br>
		<a href="https://twitter.com/canugettogether">Twitter</a></br>
		<a href="http://instagram.com/canugettogether">Instagram</a></br>
	</p>
</div>	

