
<div class="feature">
 	<p class="header">Ask us anything</p>
	<p class="body">
		gettogether@canu.se</br></br>
	</p>
	<p class="header">This is where we work right now</p>
	<p class="body">
		Hyper Island
	</p>	
	<p class="body">	
		Telefonvägen 30 <br/>
		126 26 Hägersten<br/>
	</p>
</div>	

