
<div class="feature">
 	<p class="header">Ask us anything</p>
	<p class="body">
		<a href="mailto:gettogether@canu.se"> gettogether@canu.se</a></br></br>
	</p>
	<p class="header">This is where we work right now</p>
	<p class="body">
		<b>Hyper Island</b>
	</p>	
	<p class="body">	
		Telefonvägen 30<br/>
		126 26 Hägersten<br/>
		Stockholm<br/>
	</p>
</div>	

