<div class="top_menu_top_2">
	<ul class="support_menu">
		<div class="centering_top">
			<li class="selected"><a>Q&A</a></li>
			<li><a href="privacy">Privacy Policy</a></li>
			<li><a href="terms">Terms of Service</a></li>
		</div>
	</ul>	
</div>
<div class="feature">
	<p class="header">What is CANU?</p>		
	<p class="body">
		CANU is an application made for those spontaneous activities where you don't have time to sit down and make a Facebook event and don't want to send or receive multiple texts about the same thing.
		Try it out.

	</p>
	
	<p class="header">How much does CANU cost?</p>
	<p class="body">
		It’s free of charge and always will be.
	</p>

	<p class="header">Can I create activities with CANU?</p>
	<p class="body">
		Yes, once signed in you will see a little box in the bottom left corner. You can move that bastard. If you move it up and drop it you will create an activity.
	</p>
	
	<p class="header">How do I navigate?</p>
	<p class="body">
		Once signed in you will see a little circle in the bottom of the screen. You can move that bastard. Move it horizontally to navigate and vertically to create.
	</p>	
	
	<p class="header">Who can see my activities?</p>
	<p class="body">
		<b>Tribe activities</b> are visible only to those who are notified.
		</br>
		</br>
		<span style="font-style:italic">Example: You post ”Dinner” and notify four friends. Those friends will see your activity in their tribe feed.</span>
		</br>
		</br>				
		<b>Local activities</b> are visible to everyone around you. <br/><br/>
		<span style="font-style:italic">Example: You post ”Play soccer”  in Stockholm. Everyone in and around Stockholm will see your activity in their local feed.</span>
	</p>	
	<!--
	<p class="header">Is there a possibility to see activities in a place where I'm not?</p>
	<p class="body">
		Yes, If you twist the phone to landscape-view you will see all the activities in the world as pins on a map.
	</p>	
	-->	

	<p class="header">My feed is going up instead of down. Is something wrong?</p>
	<p class="body">
		No. CANU is all about the future so we decided to turn the feed around. You’ll get used to it!
	</p>	
	
	<p class="header">My activities keep on disappearing, where do I find history?</p>
	<p class="body">
		There is no history in CANU. Since we are all about the future we decided that all the past activities disappears. CANU is for the future and for the future only.
	</p>	
		
	<p class="header">Can I change my profile information?</p>
	<p class="body">
		Yes. Go to your profile and you'll see a gears icon, click it to find the edit profile settings.
	</p>	
	
	<p class="header">Does CANU exist on Android?</p>
	<p class="body">
		Not yet.
	</p>	
	
	<p class="header">I found something wrong and want to let you know. Where do I reach you?</p>
	<p class="body">
		Send us an email at <a href="mailto:gettogether@canu.se"> gettogether@canu.se</a> or write on our feedback wall on the homepage.
	</p>					
</div>	

