<div class="feature_bg" id="f_intro_index">	
	<div class="feature">
		<!--
		<p class="body_landing" style="color: #fff">
			An easy and<br/> spontaneous way</br>
			to get together <br/>with anyone
			<span>
			</br></br></br>On it's way to the App Store...
			</span>
		</p>
		-->
		<!--<p class="body_landing">
			Your spontaneous<br/>activity planner</br>
		</p>-->
		<p class="body_landing">
			Get Together</br>
		</p>
		<p class="body_landing_desc">
			With CANU you propose or find what you feel like doing. Get together and share moments with friends and new friends - for free.
		</p>
		<!--
			<a href="world" class="learn_lifestyle">Lifestyle</a>
			<a href="product" class="learn_app">The App</a>
			<img class="appstore" src="/assets/appstore.png">
		-->
		<img class="landing" src="/assets/phone_500.png">
		<a href="product"><img class="landing_feed" src="/assets/feed.png"></a>	
	</div>
</div>		
<div class="feature_bg_landing" id="f_footer">
	<div class="feature">	
		<div class="social_connect">
	        <div id="fb_boxy">
	            <div class="fb-like"  data-href="https://www.facebook.com/pages/CANU/176144762529176" data-send="false" data-layout="button_count" data-width="292" data-show-faces="false" data-font="trebuchet ms"></div>
	        </div>
			 <div>
	            <a href="https://twitter.com/CANUgettogether" class="twitter-follow-button" data-show-count="false">Follow @CANUgettogether</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	        </div>
	    </div>	 
		<ul class="footer">
			<!--
			<li><a href="#">Privacy</a></li>
			<li><a href="#">Terms</a><li>
			-->
			<li><a href="contacts">Contacts</a></li>
			<!--<li><a href="press">Press</a></li>-->
			<li><a href="jobs">Jobs</a></li>
			<li><a href="press">Press</a></li>
			<li><a href="privacy">Privacy</a></li>
			<li><a href="https://www.facebook.com/canugettogether" target="_blank">Facebook</a></li>
			<li><a href="about">About Us</a></li>
			
			<!--<li><a href="#">Help</a></li>-->
		</ul>	
	</div>
</div>