
<div class="feature_bg" id="f_borring">
	<div class="feature">
	 	<p class="header"><span>We are looking for you</span></p>
				
		<p class="tech">Developer</p>
			<p class="body">As our second developer you will work together with our beloved Roger Calaf, perfecting and expanding the product.<br/><br/>

- Fluent english<br/>
- iOS knowledge / API / Ruby on Rails
		</p>
				
		<p class="tech">
		If your interested, just sent us an 
email and lets have a fika!
		</p>
		
		<p class="body">jobs@canu.se</p>
		<p class="tech">
		Want to know how it is to work with us?
		</p>
		
		<p class="body" style="padding-bottom: 100px;"><a href="http://somewherehq.com/canu" target="_blank">Check our Somewhere HQ Page </a></p>
	</div>	
</div>	
