<% content_for(:head) do %>
  <%= tag(:link, :rel => :canonical, :href => "http://www.canu.se/press") %>
<% end %>
<!-- Google serach
-->
<% set_meta_tags :robots => "noodp,noydir" %>
<% set_meta_tags :description => "Put your future activities in one place. CANU is the quickest way to get your friends together." %>
<!-- Facebook
-->
<% set_meta_tags :og => { :title => 'CANU - Get Together', :type => 'website',:url => 'http://www.canu.se/', :image => 'http://localhost:3000/images/facebook_img.png', :description => 'Put your future activities in one place. CANU is the quickest way to get your friends together.', :site_name => 'CANU.se'} %>
<div class="feature">
	<ul class="press_links">
		<li>
			<p class="source">Swedish Startup Space</p>
			<a href="http://swedishstartupspace.com/2013/08/27/canu/"><p class="quote">Can CANU crack the 'social events' space?</p></a>
		</li>
		<li>
			<p class="source">New-Startups</p>
			<a href="http://www.new-startups.com/life-hacks/discovering-social-events-with-canu/"><p class="quote">Discovering social events with CANU</p></a>
		</li>
	</ul>
	<p class="header">Logo</p>
	<ul class="press_kit">
		<li class="kit_image">
			<img src="/assets/press_kit/logo/logo_red.png">
			<a href="/assets/press_kit/logo/large/logo_red.png">logo_red.png</a>
		</li>
		<li class="kit_image">
			<img src="/assets/press_kit/logo/logo_white.png">
			<a href="/assets/press_kit/logo/large/logo_white.png">logo_white.png</a>
		</li>
		<li class="kit_image">
			<img src="/assets/press_kit/logo/logo_red.png">
			<a href="/assets/press_kit/logo/large/logo_vector.ai" download="logo_vector.ai">logo_vector.ai</a>
		</li>
	</ul>
	<p class="header">Screenshots</p>
	<ul class="press_kit">
		<!--<li class="kit_image">
			<img src="/assets/press_kit/screenshots/1.1_iphone5.png">
			<a href="/assets/press_kit/screenshots/1.1_iphone5.png" target="_blank">1.1_iPhone5.png</a>
		</li>-->
		<li class="kit_image">
			<img src="/assets/press_kit/screenshots/2_iPhone5.png">
			<a href="/assets/press_kit/screenshots/2_iPhone5.png" target="_blank">2_iPhone5.png</a>
		</li>
		<li class="kit_image">
			<img src="/assets/press_kit/screenshots/3_iPhone5.png">
			<a href="/assets/press_kit/screenshots/3_iPhone5.png" target="_blank">3_iPhone5.png</a>
		</li>
		<li class="kit_image">
			<img src="/assets/press_kit/screenshots/4_iPhone5.png">
			<a href="/assets/press_kit/screenshots/4_iPhone5.png" target="_blank">4_iPhone5.png</a>
		</li>
		<li class="kit_image">
			<img src="/assets/press_kit/screenshots/5_iPhone5.png">
			<a href="/assets/press_kit/screenshots/5_iPhone5.png" target="_blank">5_iPhone5.png</a>
		</li>
	</ul>
	<p class="header">Phone</p>
	<ul class="press_kit">
		<li class="kit_image">
			<img src="/assets/press_kit/product/phone.jpg">
			<a href="/assets/press_kit/product/large/phone.jpg" target="_blank">phone.jpg</a>
		</li>
		<li class="kit_image">
			<img src="/assets/press_kit/product/phone_morning.jpg">
			<a href="/assets/press_kit/product/large/phone_morning.jpg"  target="_blank">phone_morning.jpg</a>
		</li>
		<li class="kit_image">
			<img src="/assets/press_kit/product/phone_light.jpg">
			<a href="/assets/press_kit/product/large/phone_light.jpg" target="_blank">phone_light.jpg</a>
		</li>
		<li class="kit_image">
			<img src="/assets/press_kit/product/phone_tipi.jpg">
			<a href="/assets/press_kit/product/large/phone_tipi.jpg" target="_blank">phone_tipi.jpg</a>
		</li>
		<li class="kit_image">
			<img src="/assets/press_kit/product/phone_dark.jpg">
			<a href="/assets/press_kit/product/large/phone_dark.jpg" target="_blank">phone_dark.jpg</a>
		</li>
	</ul>
	<p class="header">Tipis</p>	
	<ul class="press_kit">
		<li class="kit_image">
			<img src="/assets/press_kit/tipis/totem.jpg">
			<a href="/assets/press_kit/tipis/large/totem.jpg" target="_blank">totem.jpg</a>
		</li>
		<li class="kit_image">
			<img src="/assets/press_kit/tipis/tribe.jpg">
			<a href="/assets/press_kit/tipis/large/tribe.jpg" target="_blank">tribe.jpg</a>
		</li>
		<li class="kit_image">
			<img src="/assets/press_kit/tipis/camp_fire.jpg">
			<a href="/assets/press_kit/tipis/large/camp_fire.jpg" target="_blank">camp_fire.jpg</a>
		</li>
		<li class="kit_image">
			<img src="/assets/press_kit/tipis/tipis.jpg">
			<a href="/assets/press_kit/tipis/large/tipis.jpg" target="_blank">tipis.jpg</a>
		</li>
	</ul>	
	<p class="header">Team</p>	
	<ul class="press_kit">
	<!--
		<li class="kit_image">
			<img src="/assets/press_kit/team/bw/roger_didrik_vitali.jpg">
			<a href="/assets/press_kit/team/bw/large/roger_didrik_vitali.jpg">roger_didrik_vitali.jpg</a>
		</li>
		
		-->
		<li class="kit_image">
			<img src="/assets/press_kit/team/bw/didrik_persson.jpg">
			<a href="/assets/press_kit/team/bw/large/didrik_persson.jpg" target="_blank">didrik_persson.jpg</a>
		</li>
		<li class="kit_image">
			<img src="/assets/press_kit/team/bw/roger_calaf.jpg">
			<a href="/assets/press_kit/team/bw/large/roger_calaf.jpg" target="_blank">roger_calaf.jpg</a>
		</li>
		<li class="kit_image">
			<img src="/assets/press_kit/team/bw/vitali_poluzhnikov.jpg">
			<a href="/assets/press_kit/team/bw/large/vitali_poluzhnikov.jpg" target="_blank">vitali_poluzhnikov.jpg</a>
		</li>
		<li class="kit_image">
			<img src="/assets/press_kit/team/bw/lea_taloc.jpg">
			<a href="/assets/press_kit/team/bw/large/lea_taloc.jpg" target="_blank">lea_taloc.jpg</a>
		</li>		
		<li class="kit_image">
			<img src="/assets/press_kit/team/bw/vivien_cormier.jpg">
			<a href="/assets/press_kit/team/bw/large/vivien_cormier.jpg" target="_blank">vivien_cormier.jpg</a>
		</li>
	</ul>	
	
	<span class="clear"></span>
	<!--<a href="/assets/CANU-press-kit.zip" target="_blank"><img class="presskit" src="/assets/press_kit.svg"></a>-->
</div>	

