<div class="feature_bg" id="f_borring">
	<div class="feature">
	 	<p class="header"><span>The Looks</span></p>
		<p class="body">
			Find our beautiful faces in the press-kit.<br/><br/>
			<span style="color: #1894a5">
			- photos<br/>
			- screenshots<br/>
			- concept images<br/>
			</span>
		</p>
		
		<a href="/assets/CANU-press-kit.zip" target="_blank"><img class="presskit" src="/assets/press_kit.svg"></a>
	<!--
		<p class="header"><span>Releases</span></p>
		<p class="body">
			Read about our latest achievements.
		</p>
		<p class="release_title">
		Stockholm start-up helps new students find things to do and people to them with.
		</p>
		<p class="release_date">2013-01-09</p>
		<p class="release_body">
			CANU invites the world to share what they are about to do in order for others to join their every day activities and to start a trend of scrolling into the future instead of looking at the past.<br/><br/>
CANU will, on September 2nd, launch a University campaign all over Stockholm, activating the new students with various activities to encourage them to find things to do, get to know new people and the city they are in. ”I remember moving to Stockholm eager to meet new people, willing to join their activities. But there's just no way to do that without being weird.” says Didrik Persson, CEO of CANU.<br/><br/>
CANU is the fastest way of getting together with people for spontaneous social activities. It’s an app for iOS created by four guys that came to stockholm in august 2012 to study at Hyper Island.<br/><br/>
The purpose with CANU is to get people together and away from the screens, to join the fun and be a part of the everyday activities that is happening everywhere around us. We want to enlighten the fun of doing things together, to inspire each other to try new things and find new fun people to hangout with. Humans are social beings and we want to encourage the happiness a social active lifestyle brings in a time where our online identity is more current than ever before.
Earlier this year Dr. Sheri Meyers, that regularly appears on CNN, CBS and FOX, said that: ”Be thankful for legitimate moments of happiness, not what's found on your news feed. Get out into the real world, create a true memory without needing to broadcast it” .
<br/><br/>
As much as we love social media we also realize the problems it causes. We first of all want to help people like us to find things to do, to stop scrolling through the past and invite the people around you to join something real, not just look at them in retrospective.<br/><br/>
Facebook has been proven not to fulfill all needs for their users since they couldn’t avoid the success stories of Instagram and Twitter. Today Facebook events are more like unwanted, un personal SPAM in our inboxes. CANU goal is to bridge the problem between text messaging and Facebook events and change the way we’re getting together by making CANU the quickest, most convenient and personal service out there.
		</p>-->
	</div>	
</div>	
<div class="feature_bg">
	<div class="feature" style="height: 1000px">
 </div>	   