
<div class="feature">
 	
 	<p class="intro_header">Some Stories</p>
	<ul class="press_links">
		<li>
			<img src="/assets/press/SSSS.png">
			<span class="clear"></span>
			<p class="source">Swedish Startup Space -</p>
			<a href="http://swedishstartupspace.com/2013/08/27/canu/"><p class="quote">CAN CANU CRACK THE ‘SOCIAL EVENTS’ SPACE?</p></a>
		</li>
		<li>
			<img src="/assets/press/NS.png">
			<span class="clear"></span>
			<p class="source">New-Startups.com</p>
			<a href="http://www.new-startups.com/life-hacks/discovering-social-events-with-canu/"><p class="quote">Discovering social events with CANU</p></a>
		</li>
	</ul>
	<p class="header">Materials</p>
	<p class="body">
		Photos, screenshots, visuals.
	</p>
	<span class="clear"></span>
	<a href="/assets/CANU-press-kit.zip" target="_blank"><img class="presskit" src="/assets/press_kit.svg"></a>
</div>	

