<% content_for(:head) do %>
  <%= tag(:link, :rel => :canonical, :href => "http://www.canu.se/press") %>
<% end %>
<!-- Google serach
-->
<% set_meta_tags :robots => "noodp,noydir" %>
<% set_meta_tags :description => "Put your future activities in one place. CANU is the quickest way to get your friends together." %>
<!-- Facebook
-->
<% set_meta_tags :og => { :title => 'CANU - Get Together', :type => 'website',:url => 'http://www.canu.se/', :image => 'http://localhost:3000/images/facebook_img.png', :description => 'Put your future activities in one place. CANU is the quickest way to get your friends together.', :site_name => 'CANU.se'} %>
<div class="feature">
 	
 	<p class="intro_header">Some Stories</p>
	<ul class="press_links">
		<li>
			<img src="/assets/press/SSSS.png">
			<span class="clear"></span>
			<p class="source">Swedish Startup Space -</p>
			<a href="http://swedishstartupspace.com/2013/08/27/canu/"><p class="quote">CAN CANU CRACK THE ‘SOCIAL EVENTS’ SPACE?</p></a>
		</li>
		<li>
			<img src="/assets/press/NS.png">
			<span class="clear"></span>
			<p class="source">New-Startups.com</p>
			<a href="http://www.new-startups.com/life-hacks/discovering-social-events-with-canu/"><p class="quote">Discovering social events with CANU</p></a>
		</li>
	</ul>
	<p class="header">Materials</p>
	<p class="body">
		Photos, screenshots, visuals.
	</p>
	<span class="clear"></span>
	<a href="/assets/CANU-press-kit.zip" target="_blank"><img class="presskit" src="/assets/press_kit.svg"></a>
</div>	

