<div class="feature_bg" id="f_borring">
	<div class="feature">
	 	<a href="/assets/privacy_policy.pages" target="_blank"><p class="header"><span>Download Privacy Policy</span></p></a>		
	</div>	
</div>	
<div class="feature_bg">
	<div class="feature" style="height: 1000px">
 </div>	   