<div class="top_menu_top_2">
	<ul class="support_menu">
		<div class="centering_top">
			<li><a href="help">Q&A</a></li>
			<li class="selected"><a>Privacy Policy</a></li>
			<li><a href="terms">Terms of Service</a></li>
		</div>
	</ul>	
</div>
<div class="feature">
	<p class="header">Privacy is key</p>
 	<p class="body">
		This Privacy Policy describes how and when CANU collects, uses, and shares your information when you use our Services. CANU receives your information through our mobile application and website. When using any of our Services you consent to the collection, transfer, manipulation, storage, disclosure and other uses of your information as described in this Privacy Policy. Irrespective of which country you reside in or supply information from, you authorize CANU to use your information in any country where CANU operates.
	</p>
	<p class="header"><span>Information Collection and Use</span></p><br/><br/>
	<p class="header">Creating a CANU Account and Profile Information:</p>
	<p class="body">
		When you create a CANU account, you must provide access credentials either manually in the form of an email address and password or you can gather these via Facebook link. You may optionally provide us with additional profile information, including profile picture. If you use Facebook connect, we may use public information from that connected account to help complete your CANU profile. 
	</p>
	
	<p class="header">Contact Information: </p>
	<p class="body">
		In addition to using your contact information to create your account, we may use this information to send you information about our Services, respond to your requests and facilitate your use of the Services. We may use the contact information (such as your phone number or email address) to help connect you with other CANU users, even if that information is not publicly displayed.
	</p>

	<p class="header">Finding Friends and Connecting to Other Services:</p>
	<p class="body">
		Our Services include several features to help you find the accounts of people you already know. Find them via a list gathered from the accounts you’ve attended the same activities as. When you connect your CANU account to other services, you are able to post your Content to those services as well. You may disconnect your CANU account from your account on the other services at any time. Disconnecting your CANU account will immediately revoke our authorization to cross-post on your behalf or otherwise access that account and we will delete information obtained from that connection (other than information that was publicly posted on CANU, such as profile information), which may take some time.
	</p>
	
	<p class="header">Content and other Public Information: </p>
	<p class="body">
		CANU is a future activities sharing platform, so most of the information you provide us is information that you choose to be made public. This includes not only the Content that you post and data provided with such Content, such as when it was posted and other public interactions on the Services. Your public information is broadly and instantly disseminated. For instance, your profile information and public Content are immediately delivered to a wide range of users and other services that access CANU. When you share information or Content via the Services, you should think carefully about what you are making public.
	</p>	
	
	<p class="header">Location Information:</p>
	<p class="body">
		All activities you post on the Services will use your current location or a location which you assign.
	</p>	
	
	<p class="header">Links:</p>
	<p class="body">
		We may keep track of how you interact with links across our Services, including our email notifications, third-party services, and client applications, by redirecting clicks or through other means. We do this to help improve our Services, for example to be able to share aggregate click statistics such as how many times a particular link was clicked on.
	</p>	
			
	<p class="header">Children:</p>
	<p class="body">
		Our Services are not directed to persons under 14. We do not knowingly collect personal information from children under 14. If we become aware that a child under 14 has  provided us with personal information, we will take steps to remove such information and terminate the child’s account. If you learn that your child has provided us with personal information without your consent, please contact us at <a href="mailto:gettogether@canu.se"> gettogether@canu.se</a>.
	</p>

	<p class="header">Log Data: </p>
	<p class="body">
		Our servers automatically record information ("Log Data") created by your use of the Services. Log Data may include information such as your location, your mobile carrier, device and application IDs. We receive Log Data when you interact with our Services, for example, when you sign into our Services,view or interact with our email notifications. CANU uses Log Data to provide our Services and to measure, customize, and improve them. If not already done earlier, we will either delete Log Data or remove any common account identifiers, such as your username, full IP address, or email address, after 18 months.
	</p>	
	
	<p class="header"><span>Information Sharing and Disclosure</span></p><br/><br/>
	
	<p class="header">Your Consent: </p>
	<p class="body">
		We may share or disclose your information at your direction, such as when you choose to publicly post an activity or update your profile information.
	</p>	
	
	<p class="header">Law and Harm: </p>
	<p class="body">
		Notwithstanding anything to the contrary in this Policy, we may preserve or disclose your information if we believe that it is reasonably necessary to comply with a law, regulation or legal request; to protect the safety of any person; to address fraud, security or technical issues; or to protect CANU’s rights or property. However, nothing in this Privacy Policy is intended to limit any legal defenses or objections that you may have to a third party's, including a government's, request to disclose your information.
	</p>	
	
	<p class="header">Business Transfers:</p>
	<p class="body">
		In the event that CANU is involved in a bankruptcy, merger, acquisition, reorganization or sale of assets, your information may be sold or transferred as part of that transaction. The promises in this Privacy Policy will apply to your information as transferred to the new entity.
	</p>	
	
	<p class="header">Non-Private or Non-Personal Information: </p>
	<p class="body">
		We may share or disclose your non-private, aggregated or otherwise non-personal information, such as your public user profile information, public posts or the number of users who clicked on a particular link (even if only one did).
	</p>	
	
	<p class="header">Modifying Your Personal Information</p>
	<p class="body">
		If you are a registered user of our Services, we provide you with tools and account settings to access or modify the profile information you provided to us and associated with your account.
You can also permanently delete your CANU account by contacting us.
	</p>	

	<p class="header">Changes to this Policy</p>
	<p class="body">
		We may revise this Privacy Policy from time to time. The most current version of the policy will govern our use of your information and will always be at http://CANU.se/privacy. If we make a change to this policy that, in our sole discretion, is material, we will notify you via an email to the email address associated with your account or through the Services. By continuing to access or use the Services after those changes become effective, you agree to be bound by the revised Privacy Policy.<br/><br/>
Effective: September 1, 2013
	</p>																				
	
			
</div>	

