<div class="feature_bg" id="f_intro_product">	
	<div class="feature">
		<p class="body_intro_header" style="color: #1a91a2; font-weight: 700">
			
			We decided to redesign <br/>the way people <br/>get together.
			<br/><br/>
			<span>
			We crafted an experience not for what has already happened in our lives, but for what's to come next.
			</span>
		</p>		
	</div>
</div>	
<div class="feature_bg" id="f_1">
	<div class="feature">
	 	<p class="tech">Future Scrolling</p>
	 	<p class="header">Why walk backwards?</p>
		<p class="body">
			CANU is about the near future.<br/>
			We chose to reverse the order and the direction of the feed. It's like a Treadmill. 
		</p>
		<img class="future_scroll" src="/assets/walk.png">
	</div>
</div>	
<div class="feature_bg" id="f_2">
	<div class="feature">
	 	<p class="tech">Gestured Navigation</p>
	 	<p class="header">The Navbox</p>
		<p class="body">
			It’s just like playing Air Hockey.<br/>
			Navbox is the single controller used for the super quick navigation inside the app.
		</p>
		<img class="navbox" src="/assets/navbox.png">
		<span class="clear"></span>
		<div class="device_display" id="dd_1">
			<img class="horizontal" src="/assets/horizontal.png">
			<p>
				Slide horizontally<br/>
				to see your activites
			</p>
		</div>
		<div class="device_display" id="dd_2">
			<img class="create" src="/assets/create.png">
			<p>
				Slide up to instantly<br/>
				create an activity
			</p>
		</div>	
	</div>
</div>	
<div class="feature_bg" id="f_3">
	<div class="feature">
		<p class="tech">Pixel Gravity</p>
	 	<p class="header">Why was Newton ignored?</p>
		<p class="body">
			All the content and navigation fall as close to the ground as possible.<br/> 
			Easy to reach. More to see.
		</p>
		<img id="nt_phone" src="/assets/phone_500_extra.png">
		<div class="newton_thing">
			<img id="nt_back" src="/assets/newton/nt_back.png" class="nt_base">
			<img id="nt_bottom" src="/assets/newton/nt_bottom.png" class="nt_base">
			<img id="nt_content" src="/assets/newton/nt_content.png" class="nt_base">
			<img id="nt_go" src="/assets/newton/nt_go.png" class="nt_base">
			<img id="nt_photo_bg" src="/assets/newton/nt_photo_bg.png" class="nt_base">
			<img id="nt_photo" src="/assets/newton/nt_photo.png" class="nt_base">
			<img id="nt_ppl" src="/assets/newton/nt_ppl.png" class="nt_base">
			<img id="nt_profile" src="/assets/newton/nt_profile.png" class="nt_base">
			<img id="nt_text" src="/assets/newton/nt_text.png" class="nt_base">
			<img id="nt_time" src="/assets/newton/nt_time.png" class="nt_base">
		</div>
	</div>
</div>	
<div class="feature_bg" id="f_footer">
	<div class="feature">	
		<div class="social_connect">
	        <div id="fb_boxy">
	            <div class="fb-like"  data-href="https://www.facebook.com/pages/CANU/176144762529176" data-send="false" data-layout="button_count" data-width="292" data-show-faces="false" data-font="trebuchet ms"></div>
	        </div>
			 <div>
	            <a href="https://twitter.com/CANUgettogether" class="twitter-follow-button" data-show-count="false">Follow @CANUgettogether</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	        </div>
	    </div>	
		<ul class="footer">
			<!--
			<li><a href="#">Privacy</a></li>
			<li><a href="#">Terms</a><li>
			-->
			<li><a href="contacts">Contacts</a></li>
			<!--<li><a href="press">Press</a></li>-->
			<li><a href="jobs">Jobs</a></li>
			<li><a href="press">Press</a></li>
			<li><a href="help">Help</a></li>
			<li><a href="https://www.facebook.com/canugettogether" target="_blank">Facebook</a></li>
			<li><a href="about">About Us</a></li>
			
			<!--<li><a href="#">Help</a></li>-->
		</ul>			
	</div>
</div>
          
     
		
