<a class="choice_reset">reset</a>
<div class="fullslide" id="story_1">
	<h7>The Tribe Machine</h7>
	<div class="choices">
		<a class="story_choice" id="choice_2">Go to the village</a>
	</div>
</div>

<div class="fullslide" id="story_2">
	<h7>What would you do ?</h7>
	<div class="choices">
		<a class="story_choice" id="choice_3_1">Smoke the peace pipe</a>
		<a class="story_choice" id="choice_3_2">Go hunting</a>
		<a class="story_choice" id="choice_3_3">Stay at home and dry socks</a>	
	</div>
</div>

<div class="fullslide" id="story_3_1">
	<h7>Feeling peaceful?</h7>
	<div class="choices">
		<a class="story_choice choice_4_1">I want to smoke more</a>
		<a class="story_choice choice_4_2">I smoked enough</a>
	</div>	
</div>

<div class="fullslide" id="story_3_2">
	<h7>There is nothing to hunt</h7>
	<div class="choices">
		<a class="story_choice choice_4_1">Check out the forest</a>
		<a class="story_choice choice_4_2">Fuck it. Go back home</a>	
	</div>	
</div>

<div class="fullslide" id="story_3_3">
	<h7>Inside your tipi.</h7>
	<div class="choices">
		<a class="story_choice choice_4_1">Time to sleep</a>
		<a class="story_choice choice_4_2">Oh, it’s boring at home</a>
	</div>	
</div>

<div class="fullslide" id="story_4_1">
	<h7>Your Tribe is gone. You are all alone.</h7>
	<div class="choices">
		<a class="story_choice" id="choice_5">Go look for a new village.</a>
	</div>
</div>

<div class="fullslide" id="story_4_2">
	<h7>Insomnia. Shit. You want to wake up the village. How?</h7>
	<div class="choices">
		<a class="story_choice" id="choice_6_3">Start the sun dance</a>
		<a class="story_choice" id="choice_6_4">Play the drums</a>	
	</div>
</div>

<div class="fullslide" id="story_5">
	<h7>You found a new Tribe. How would you meet them? Express your creativity.</h7>
	<div class="choices">
		<a class="story_choice" id="choice_6_1">Invite for a beer</a>
		<a class="story_choice" id="choice_6_2">Invite fishing</a>	
	</div>	
</div>

<div class="fullslide" id="story_6_1">
	<h7>Friendship story. Pub friends.</h7>
	<div class="choices">
		<a class="story_choice choice_7">Make your own future</a>
	</div>
</div>

<div class="fullslide" id="story_6_2">
	<h7>Love story. You found your love while fishing.</h7>
	<div class="choices">
		<a class="story_choice choice_7">Make your own future</a>
	</div>
</div>

<div class="fullslide" id="story_6_3">
	<h7>Shaman Story. By luck, you brought up the sun at night.</h7>
	<div class="choices">
		<a class="story_choice choice_7">Make your own future</a>
	</div>
</div>

<div class="fullslide" id="story_6_4">
	<h7>You are sacrificed. Too much noise with the drums.</h7>
	<div class="choices">
		<a class="story_choice choice_7">Make your own future</a>
	</div>
</div>

<div class="fullslide" id="story_7">
	<h7>canu.se</h7>
</div>