<% content_for(:head) do %>
	<%= tag(:link, :rel => :canonical, :href => "http://www.canu.se/vision") %>
<% end %>
<!-- Google serach
-->
<% set_meta_tags :robots => "noodp,noydir" %>
<% set_meta_tags :description => "Put your future activities in one place. CANU is the quickest way to get your friends together." %>
<!-- Facebook
-->
<% set_meta_tags :og => { :title => 'CANU - Vision', :type => 'website',:url => 'http://www.canu.se/', :image => 'http://canu.se/images/facebook_img.png', :description => 'Put your future activities in one place. CANU is the quickest way to get your friends together.', :site_name => 'CANU.se'} %>
<div class="feature">
	<p class="intro_header">What is CANU? </p>
	<p class="body">
CANU is a sweet messenger app that helps you get together with your friends - fast and simple. Create an activity, notify your friends, sort out details, and get together for the fun. It has always been harder.
</p>
