<% content_for(:head) do %>
	<%= tag(:link, :rel => :canonical, :href => "http://www.canu.se/vision") %>
<% end %>
<!-- Google serach
-->
<% set_meta_tags :robots => "noodp,noydir" %>
<% set_meta_tags :description => "Put your future activities in one place. CANU is the quickest way to get your friends together." %>
<!-- Facebook
-->
<% set_meta_tags :og => { :title => 'CANU - Vision', :type => 'website',:url => 'http://www.canu.se/', :image => 'http://localhost:3000/images/facebook_img.png', :description => 'Put your future activities in one place. CANU is the quickest way to get your friends together.', :site_name => 'CANU.se'} %>
<div class="feature">
	<p class="intro_header">
		What are you up to? 
	</p>
	<p class="body">
This is a question we ask ourselves every day. We make decisions and plan our next steps in order to move forward and to stay busy. CANU comes in, whenever this involves other people.
	</p><p class="body">
We built a tool with a clear goal - to get people together in real life as simple and as quick as possible. We focused on three key aspects of getting together - the idea, the talk and the happening. 
</p><p class="body">
The idea, is something that involves the creator. With CANU you create the future for yourself and for others. This is how it works in real life - there is always someone that sparks the desire to meet and others come along. It is all about giving it a start.
</p><p class="body">
The talk is needed in order for an activity to happen. Whether it is just to tell that you are "up for it" or to have a longer discussion. We created a focused chat system, where the talk is purely about the activity. Nothing else. It is faster than group chats. This is where the digital side of CANU ends. 
</p><p class="body">
The next step is purely in real life. Once you meet, the digital channel disappears, until you do something new. CANU is purely about the future, that is created by you or for you. From device to real life. Not the other way around.
</p>
<p class="header">How it works?</p>
<p class="body">
You select the people you want to get together with from your address book. You need to have the phone number or know the username of the person. They get notified about your proposal and can chat with you within the app or simply click GO, meaning that they will be there.  
The more you use CANU, the more tailored it becomes. Your Tribe - the people you interact with grows the more you use the tool. The app learns your language to make it as fast as possible for you to repeat something you have done earlier.
</p><p class="body">
It is the tool for casual everyday encounters and a powerful networking tool. The network is completely open, so anyone can propose you to meet. It is all about momentum and sharing what you feel like doing with others. Casual and simple. 
</p>
<p class="header">What is CANU Local?</p>
<p class="body">
This is the bigger picture and the next step towards creating a completely open community. This is the environment where everyone is open to meeting anyone as long as there is something in common. This is a social challenge of being completely accepting and open to others.
</p><p class="body">
Local CANU activities are offered to the community around. It is about expanding the social circles. Once again, there is the creator that inspires anyone to join. It is the topic of the activity that counts. Whether it's sport, a beer or a talk on a specific topic.
</p><p class="body">
Local is not about sharing a location, it is about feeling like a local, no matter where you are in the world. It is a global welcoming. This is the gateway to connect with interesting people when traveling or when relocating to a new city. 
</p><p class="body">
No high expectations. You'll connect or not. It's all about giving it a try and leaving your own comfort zone and being spontaneous. You never know where a meet up could take you.
</p><p class="header">
Why is Local locked?
</p><p class="body">
The Local feed is locked until there is a significant amount of mind alike people in a specific area. How many? Depends on the population of the city and the eagerness to meet. If you are willing to join the community - simply click "count me in". If you are super curious and would love to get involved with the local community - let us know, we will give you early access to get the movement going. It is the early birds that will create a culture in their city. 
</p>