<div class="feature_bg" id="f_intro_world">	
	<div class="feature">
		<img class="icon_world" src="/assets/world.svg">
	</div>
</div>	
<div class="feature_bg" id="f_world_first">
	<div class="feature">
		<img class="scroll_down" src="/assets/arrow_down_big.png">
		<img class="world_selection" src="/assets/selection_point.svg">
		<div class="bg_aid_left"></div>
		<div class="bg_aid_right"></div>
		<img class="world_phone" src="/assets/world_phone.png">
	 	<p class="world_header"><span>World</span> is the feed<br/> where you discover activities around you.</p>
	</div>	
</div>	
<div class="feature_bg" id="world_story">
	<div class="feature">
	 	<p class="header_centered_tiny">
	 		This is how it works
	 	</p>
	 	<p class="header_centered">
		 	Let’s say you feel like<br/> 
		 	doing something
	 	</p>
	 	<div class="half_feature" style="margin-left: 40px">
		 	<p>You discover<br/>what’s out there</p>
		 	<img class="world_discover" src="/assets/world_discover.png">
	 	</div>
	 	<p class="centered_feature">or</p>
	 	<div class="half_feature">
		 	<p>You create<br/>your own</p>
		 	<img class="world_create" src="/assets/world_create.png">
	 	</div>
	 	<p class="header_centered_tiny">
	 		then
	 	</p>
	 	<p class="header_centered_conclusion">
	 		You Get Together
	 	</p>
	 	<img class="happy_ppl" src="/assets/happy_ppl.svg">
	 	
	 	
	</div>	
</div>	

<div class="feature_bg" id="f_footer">
	<div class="feature">	
		<div class="social_connect">
	        <div id="fb_boxy">
	            <div class="fb-like"  data-href="https://www.facebook.com/pages/CANU/176144762529176" data-send="false" data-layout="button_count" data-width="292" data-show-faces="false" data-font="trebuchet ms"></div>
	        </div>
			 <div>
	            <a href="https://twitter.com/CANUgettogether" class="twitter-follow-button" data-show-count="false">Follow @CANUgettogether</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	        </div>
	    </div>	
		<ul class="footer">
			<!--
			<li><a href="#">Privacy</a></li>
			<li><a href="#">Terms</a><li>
			-->
			<li><a href="contacts">Contacts</a></li>
			<!--<li><a href="press">Press</a></li>-->
			<li><a href="jobs">Jobs</a></li>
			<li><a href="press">Press</a></li>
			<li><a href="help">Help</a></li>
			<li><a href="https://www.facebook.com/canugettogether" target="_blank">Facebook</a></li>
			<li><a href="about">About Us</a></li>
			
			<!--<li><a href="#">Help</a></li>-->
		</ul>	
	</div>
</div>