<a class="choice_reset">START OVER</a>
<div class="fullslide" id="story_1">
	<div class="story_title">Who is this fucking bear?</div>
	<ul class="choices">
		<div class="c_centering">
			<li class="story_choice" id="choice_2">DECIDE</li>
		</div>
	</ul>
</div>

<div class="fullslide" id="story_2">
	<div class="story_details">It's a casual evening in your tribe.</div>
	<div class="story_title">What would you do?</div>
	
	<ul class="choices">
		<div class="c_centering">
			<li class="story_choice" id="choice_3_1">Go Smoke the peace pipe</li>
			<li class="story_choice" id="choice_3_2">Go Hunt</li>
			<li class="story_choice" id="choice_3_3">Go Dry socks at home</li>	
		</div>
	</ul>
</div>

<div class="fullslide" id="story_3_1">
	<div class="story_details">The peace pipe is a ritual, when you connect with nature and your soul...</div>
	<div class="story_title">Feeling peaceful enough?</div>
	<ul class="choices">
		<div class="c_centering">
			<li class="story_choice choice_4_1">I want to smoke more</li>
			<li class="story_choice choice_4_4">I smoked enough</li>
		</div>
	</ul>
</div>

<div class="fullslide" id="story_3_2">
	
	<div class="story_details">It's not easy to hunt. Sometimes hunting trips can last for weeks. Animals hide well and are hard to spot. Only the brave were sent to hunt.</div>
	<div class="story_title">No meat to bring back. Yet.</div>
	<ul class="choices">
		<div class="c_centering">
			<li class="story_choice choice_4_2">Check out the forest</li>
			<li class="story_choice choice_4_4">Fuck it. Go back home</li>	
		</div>
	</ul>
</div>

<div class="fullslide" id="story_3_3">
	
	<div class="story_details">It's nice to spend some solo time. Especially when you have your transportable home. You got a fireplace, you are protected from water and wind and it's quite cosy. Built out of at least 20 deer furs.</div>
	<div class="story_title">Your home - your Tipi. Your time.</div>
	<ul class="choices">
		<div class="c_centering">
			<li class="story_choice choice_4_3">Time to sleep</li>
			<li class="story_choice choice_4_4">Oh, it’s boring at home</li>
		</div>
	</ul>	
</div>

<div class="fullslide" id="story_4_1">
	
	<div class="story_details">Tribes need to relocate whenever there is a need to move south, in search of food or when in danger. You are basically fucked.</div>
	<div class="story_title">You got so high, that your tribe left.</div>
	<ul class="choices">
		<div class="c_centering">
			<li class="story_choice choice_5">Go look for a new village.</li>
		</div>
	</ul>
</div>

<div class="fullslide" id="story_4_2">
	
	<div class="story_details">Tribes need to relocate whenever there is a need to move south, in search of food or when in danger. You are basically fucked.</div>
	<div class="story_title">You got the meat, but your Tribe is gone. You are all alone.</div>
	<ul class="choices">
		<div class="c_centering">
			<li class="story_choice choice_5">Go look for a new village.</li>
		</div>
	</ul>
</div>

<div class="fullslide" id="story_4_3">
	
	<div class="story_details">Tribes need to relocate whenever there is a need to move south, in search of food or when in danger. You are basically fucked.</div>
	<div class="story_title">You've been so lazy lately. The tribe left without you.</div>
	<ul class="choices">
		<div class="c_centering">
			<li class="story_choice choice_5">Go look for a new village.</li>
		</div>
	</ul>
</div>

<div class="fullslide" id="story_4_4">
	<div class="story_details">This happens. Everyone's asleep or doing nothing - you are the initiator, only you can start a movement. Often what you gather people for reflects on who you are.</div>
	<div class="story_title">Insomnia. Shit. You want to wake up the village. How?</div>
	<ul class="choices">
		<div class="c_centering">
			<li class="story_choice" id="choice_6_3">Start the sun dance</li>
			<li class="story_choice" id="choice_6_4">Play the drums</li>
		</div>	
	</ul>
</div>

<div class="fullslide" id="story_5">
	<div class="story_details">Meeting a new tribe is not easy. You really need to express your creativity and show who you really are to leave an impression and become a part.</div>
	<div class="story_title">You found a new Tribe. Nice. How will they accept you?</div>
	<ul class="choices">
		<div class="c_centering">
			<li class="story_choice" id="choice_6_1">Invite for a beer</li>
			<li class="story_choice" id="choice_6_2">Invite fishing</li>
		</div>	
	</ul>	
</div>

<div class="fullslide" id="story_6_1">
	<div class="story_details">No doubt, this ancient beverage let's people connect quite well and fast.</div>
	<div class="story_title">You met your Pub friends. Good for you.</div>
	<ul class="choices">
		<div class="c_centering">
			<li class="story_choice choice_7">Now - Make your own future</li>
		</div>
	</ul>
</div>

<div class="fullslide" id="story_6_2">
	<div class="story_details">Love is in the air. Some rather weird activities connect you really close on a spiritual level.</div>
	<div class="story_title">Love story. You found your love while fishing.</div>
	<ul class="choices">
		<div class="c_centering">
			<li class="story_choice choice_7">Now - Make your own future</li>
		</div>
	</ul>
</div>

<div class="fullslide" id="story_6_3">
	<div class="story_details">Some actions really attract attention and you become someone special for all.</div>
	<div class="story_title">Wow. You brought up the sun at night.</div>
	<ul class="choices">
		<div class="c_centering">
			<li class="story_choice choice_7">Now - Make your own future</li>
		</div>
	</ul>
</div>

<div class="fullslide" id="story_6_4">
	<div class="story_details">Some ways of attracting attention can be rather selfish and harm your reputation. You'll be sacrificed to the gods. Who cares. At least some use from you.</div>
	<div class="story_title">What a fool. You made too much noise with the drums. Sacrifice.</div>
	<ul class="choices">
		<div class="c_centering">
			<li class="story_choice choice_7">Now - Make your own future</li>
		</div>
	</ul>
</div>

<div class="fullslide" id="story_7">
	<div class="story_title">canu.se</div>
</div>