<li>

	<div style="background-image: url(/assets/webapp/icon_userpic@2x.png);" class="creator_userpic">
		<div class="alternative_userpic" style="background-image: url(http://api.canu.se/<%=attendee['profile_pic']%>);"></div>
	</div>
	<div class="user_details">
		<span class="clear"></span>
		<a class="guest_name"><%= attendee['first_name']%></a>
		<span class="clear"></span>
		<a class="guest_username"><%= attendee['user_name']%></a>
	</div>

</li>