<%# @activity%>
<%# @attendees%>
<div class="get_canu">
	<!--<div class="logo_tiny"></div>-->
	<a href="https://itunes.apple.com/us/app/canu-get-together/id697998179?mt=8&ls=1">
		<p class="get">Open in the app</p>
	</a>
</div>
<div class="wrapper_public">
	<ul class="public_wall">
		<%= render :partial => 'activity', :collection => @activities%>
	</ul>
</div>