<%# @activities.inspect%>
<%# @activity%>

<script>
$(document).ready(function(){
	$("#suggest_trigger").click(function() {	
		$(this).html($(this).html() == 'Close' ? 'Add Activity' : 'Close');
		$(".suggest_bg").fadeToggle();
		$(".suggest_activity").toggleClass("show_suggest");
	});	
	$(".suggest_bg").click(function() {	
		$("#suggest_trigger").html('Add Activity');
		$(".suggest_bg").fadeToggle();
		$(".suggest_activity").toggleClass("show_suggest");
	});	
});		
</script>

<div class="get_canu">
	<!--<div class="logo_tiny"></div>-->
	<a href="https://itunes.apple.com/us/app/canu-get-together/id697998179?mt=8&ls=1">
		<p class="get">Open in the app</p>
	</a>
</div>
<a class="suggest_button" id="suggest_trigger">Add Activity</div>
<a class="suggest_button" id="suggest_trigger_mobile" href="https://docs.google.com/forms/d/1AmUF41MmNNT0LsGybUtHgFjki-MPKl6aWj-YC4r6Px0/viewform?usp=send_form" target="_blank">Add Activity</a>
<span class="clear"></span>
<div class="wrapper_public">
		<img class="sommaren_bg" src="/assets/sommaren_bg_2.png">	
		<p class="summer_desc">En aktivitetskalender för unga av unga</p>
		<ul class="public_wall">
			<%= render :partial => 'activity', :collection => @activities%>
		</ul>
	</div>
</div>
<div class="suggest_bg"></div>
<div class="suggest_activity">
	<iframe src="https://docs.google.com/forms/d/1AmUF41MmNNT0LsGybUtHgFjki-MPKl6aWj-YC4r6Px0/viewform?embedded=true" width="540" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>

