<%# @activities.inspect%>
<%# @activity%>

<% content_for :opengraph_meta_tags do %>

	<meta property="og:type" content="website"/>
	<meta property="og:title" content="Sommaren vi Skapar"/>
	<!-- <meta property="og:image" content="http://www.canu.se/images/totem.png"/> -->
	<meta property="og:image" content="http://www.canu.se/images/sommaren.png"/>
	
	<meta property="og:site_name" content="canu.se"/>
	<meta property="og:description" content="En aktivitetskalender för unga av unga"/>
		
<% end %>

<script>
$(document).ready(function(){
	$("#suggest_trigger").click(function() {	
		$(".suggest_bg").fadeToggle();
		$(".suggest_activity").toggleClass("show_suggest");
	});	
	
	$("#trigger_options").click(function() {	
		$(this).hide();
		$(".create_options").fadeToggle();
	});	
	$(".suggest_bg").click(function() {	
		$(".suggest_bg").fadeToggle();
		$(".suggest_activity").toggleClass("show_suggest");
	});	
	

});		
</script>
<div class="like_holder">
	<div class="fb-like" data-href="http://facebook.com/canugettogether" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
</div>

<div class="get_canu">
	<!--<div class="logo_tiny"></div>-->
	<a href="https://itunes.apple.com/us/app/canu-get-together/id697998179?mt=8&ls=1">
		<p class="get">Open in the app</p>
	</a>
</div>
<a class="suggest_button" id="trigger_options">Lägg till aktivitet</a>
<a class="suggest_button" id="suggest_trigger_mobile" href="https://docs.google.com/forms/d/1AmUF41MmNNT0LsGybUtHgFjki-MPKl6aWj-YC4r6Px0/viewform?usp=send_form" target="_blank">Lägg till aktivitet</a>
<ul class="create_options">
	<a href="https://itunes.apple.com/us/app/canu-get-together/id697998179"><li>App</li></a>
	<a id="suggest_trigger"><li>Formulär</li></a>
</ul>
<span class="clear"></span>
<div class="wrapper_public">
		<img class="sommaren_bg" src="/assets/sommaren_bg_2.png">	
		<p class="summer_desc">En aktivitetskalender för unga av unga</p>
		<ul class="public_wall">
			<%= render :partial => 'activity', :collection => @activities%>
		</ul>
		<div class="canu_footer">
			<a href="http://www.canu.se">
				<div class="logo_tiny"></div>
			</a>
		</div>
	</div>
</div>
<div class="suggest_bg"></div>
<div class="suggest_activity">
	<iframe src="https://docs.google.com/forms/d/1AmUF41MmNNT0LsGybUtHgFjki-MPKl6aWj-YC4r6Px0/viewform?embedded=true" width="540" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>

