<%# @activities.inspect%>
<%# @activity%>
<div class="artsy_top">
	<p class="artsy_header">Sommaren<br> vi Skapar</p>
</div>
<div class="wrapper_public" style="margin-top: 400px;">
	<ul class="public_wall">
		<span class="artsy">
			<%= render :partial => 'activityart', :collection => @activities%>
		</span>
	</ul>
</div>