<%# @activities.inspect%>
<%# @activity%>
<script>
$(document).ready(function(){
	$(".title").hover(function() {	
		$(this).find(".artsy_details").toggleClass("show_details");
	});
	
	
	$("#click_about").click(function() {
		$(".artsy_about").toggleClass("show_about");
		$(this).html($(this).html() == 'Hide' ? 'About' : 'Hide');
	});	
	$('.artsy span.title').last().find(".no_und").hide();
	$('.artsy span.title').last().find(".artsy_details").addClass("last_details");
	$('.artsy span.title').last().addClass("last_details_bg");
	$("#normal_pencil").show();
	
	$(".summer_pencil").hover(function(){
		$("body.summer, .artsy_top_menu_bg, .artsy_top_menu").toggleClass("change");
	});
  
  	$('.title').on({ 'touchstart' : function(){ $(this).find(".artsy_details").addClass("show_details"); } });
	$('.title').on({ 'touchend' : function(){ $(this).find(".artsy_details").removeClass("show_details"); } });
});		
</script>
<div class="artsy_top_menu_bg"></div>
<div class="artsy_top_menu">
	<p class="artsy_header" >Sommaren vi Skapar</p>
	<div class="artsy_city">Stockholm</div>
	<div class="artsy_why" id="click_about">About</div>
	<!--<a href="https://docs.google.com/forms/d/1AmUF41MmNNT0LsGybUtHgFjki-MPKl6aWj-YC4r6Px0/viewform"><div class="artsy_why">Suggest</div></a>-->
</div>
<a href="http://lettersfromsweden.se" target="_blank" class="quote">Fonts by Letters from Sweden</a>
<div class="artsy_about">
	<p class="about">This is what we are inviting each other to do in Stockholm this summer. Put up anything you feel like doing.</p>
</div>
<div class="wrapper_public">
	<ul class="public_wall">
		<span class="artsy">
			<%= render :partial => 'activityart', :collection => @activities%>
			<span class="title">Tennis<span class="no_und">,&nbsp</span><div class="artsy_details">June 18, 18:00<span class="place">Skanstull</span></div></span>
			<span class="title">Skate Park<span class="no_und">,&nbsp</span><div class="artsy_details">June 18, 18:00<span class="place">Skanstull</span></div></span>
			<span class="title">Dance for Love<span class="no_und">,&nbsp</span><div class="artsy_details">June 18, 18:00<span class="place">Skanstull</span></div></span>
			<span class="title">Swimming<span class="no_und">,&nbsp</span><div class="artsy_details">June 18, 18:00<span class="place">Skanstull</span></div></span>
			<span class="title">Fika<span class="no_und">,&nbsp</span><div class="artsy_details">June 18, 18:00<span class="place">Skanstull</span></div></span>
			<span class="title">Coffee<span class="no_und">,&nbsp</span><div class="artsy_details">June 18, 18:00<span class="place">Skanstull</span></div></span>
			<span class="title">Badminton<span class="no_und">,&nbsp</span><div class="artsy_details">June 18, 18:00<span class="place">Skanstull</span></div></span>
			<span class="title">Skate Park<span class="no_und">,&nbsp</span><div class="artsy_details">June 18, 18:00<span class="place">Skanstull</span></div></span>
			<span class="title">Dance for Love<span class="no_und">,&nbsp</span><div class="artsy_details">June 18, 18:00<span class="place">Skanstull</span></div></span>
			<span class="title">Swimming<span class="no_und">,&nbsp</span><div class="artsy_details">June 18, 18:00<span class="place">Skanstull</span></div></span>
			<span class="title">Fika<span class="no_und">,&nbsp</span><div class="artsy_details">June 18, 18:00<span class="place">Skanstull</span></div></span>
			<span class="title">Coffee<span class="no_und">,&nbsp</span><div class="artsy_details">June 18, 18:00<span class="place">Skanstull</span></div></span>
		</span>			
		
		<span class="clear"></span>
		<div class="summer_pencil" id="iphone_pencil">
			<a href="https://itunes.apple.com/us/app/canu-get-together/id697998179"><div class="write">write via canu</div></a>
		</div>
		<div class="summer_pencil" id="normal_pencil">
			<a href="https://docs.google.com/forms/d/1AmUF41MmNNT0LsGybUtHgFjki-MPKl6aWj-YC4r6Px0/viewform" target="_blank"><div class="write">write via canu</div></a>
		</div>
	</ul>
</div>
