<%# @activities.inspect%>
<%# @activity%>
<script>
$(document).ready(function(){
	$(".title").hover(function() {	
		$(this).find(".artsy_details").toggleClass("show_details");
	});
	
	
	$("#click_about").click(function() {
		$(".artsy_about").toggleClass("show_about");
	});	
	
	$(".artsy_about").click(function() {
		$(this).toggleClass("show_about");
	});	
	
	
	$('.artsy span.title').last().find(".no_und").hide();
	$('.artsy span.title').last().find(".artsy_details").addClass("last_details");
	$('.artsy span.title').last().addClass("last_details_bg");
	$("#normal_pencil").show();
	

	$(".artsy_header").hover(function(){
		$(".artsy_city").toggleClass("show_city");
	});

	$(".summer_pencil").hover(function(){
		$("body.summer, .artsy_top_menu_bg, .artsy_top_menu").toggleClass("change");
		$(".write").toggleClass("show_write");
	});

});		
</script>
<div class="artsy_top_menu_bg"></div>
<div class="artsy_top_menu">
	<p class="artsy_header">Sommaren vi Skapar</p>
	<div class="artsy_city">i Stockholm</div>
	<div class="artsy_why" id="click_about">About</div>
</div>
<a href="http://lettersfromsweden.se" target="_blank" class="quote">Fonts by Letters from Sweden</a>
<div class="artsy_about">
	<p class="about">This is what we are doing in Stockholm this summer. <br><br>Put up anything you feel like doing.</p>
	<p class="description">We are just getting started with <a href="https://canu.se">CANU</a>, so let's give it a try and see what happens.</p>
</div>
<div class="wrapper_public">
	<ul class="public_wall">
		<span class="artsy">
			<%= render :partial => 'activityart', :collection => @activities%>
			<span class="fake">
				<span class="title">Let's Swim<span class="no_und">,&nbsp</span></span>
				<span class="title">Skate Park<span class="no_und">,&nbsp</span></span>
				<span class="title">Dance for Love<span class="no_und">,&nbsp</span></span>
				<span class="title">Swimming<span class="no_und">,&nbsp</span></span>
				<span class="title">Fika<span class="no_und">,&nbsp</span></span>
				<span class="title">Design Workshop<span class="no_und">,&nbsp</span></span>
				<span class="title">Beers<span class="no_und">,&nbsp</span></span>
				<span class="title">Longboarding<span class="no_und">,&nbsp</span></span>
				<span class="title">French Piknik<span class="no_und">,&nbsp</span></span>
				<span class="title">Houseparty<span class="no_und">,&nbsp</span></span>
				<span class="title">Filming<span class="no_und">,&nbsp</span></span>
				<span class="title">Coffee<span class="no_und">,&nbsp</span></span>
			</span>
		</span>			
		
		<span class="clear"></span>
		<div class="summer_pencil" id="iphone_pencil">
			<a href="https://itunes.apple.com/us/app/canu-get-together/id697998179"><div class="write">write via canu</div></a>
		</div>
		<div class="summer_pencil" id="normal_pencil">
			<p class="write">
				Write using <a href="https://itunes.apple.com/us/app/canu-get-together/id697998179">CANU</a> or this boring <a href="https://docs.google.com/forms/d/1AmUF41MmNNT0LsGybUtHgFjki-MPKl6aWj-YC4r6Px0/viewform">form</a>.
			</p>
		</div>
	</ul>
</div>
