<%# @activities.inspect%>
<%# @activity%>
<script>
$(document).ready(function(){
	$(".title").hover(function() {	
		$(this).find(".artsy_details").toggleClass("show_details");
	});
	
	$('.title').on({ 'touchstart' : function(){ $(this).find(".artsy_details").addClass("show_details"); } });
	$('.title').on({ 'touchend' : function(){ $(this).find(".artsy_details").removeClass("show_details"); } });
	
	$(".summer_pencil").hover(function() {	
		$(".write").toggleClass("show_details");
	});	
	$("#click_about").click(function() {	
		$(".artsy_about").toggleClass("show_about");
		$(this).html($(this).html() == 'Hide' ? 'About' : 'Hide');
	});	
	$('.artsy span.title').last().find(".no_und").hide();
	$('.artsy span.title').last().find(".artsy_details").addClass("last_details");
	$('.artsy span.title').last().addClass("last_details_bg");
	$("#iphone_pencil").hide();
	$("#normal_pencil").show();
	
		  var isiPhone = navigator.userAgent.toLowerCase().indexOf("iphone");

		  if(isiPhone > -1)

		  {
		 	$("#normal_pencil").hide();
			$("#iphone_pencil").show(); 
		  }
});		
</script>
<div class="artsy_top_menu_bg"></div>
<div class="artsy_top_menu">
	<p class="artsy_header" >Sommaren vi Skapar</p>
	<div class="artsy_city">Stockholm</div>
	<div class="artsy_why" id="click_about">About</div>
	<a href="https://docs.google.com/forms/d/1AmUF41MmNNT0LsGybUtHgFjki-MPKl6aWj-YC4r6Px0/viewform"><div class="artsy_why">Suggest</div></a>
</div>
<div class="artsy_about">
	<p class="about">We are co-creating this summer together. This is the perfect time to do our favourite activities and share them the time together. By opening up our casual plans we expand our social circles and make the city a friendly place to be. So, what are you up to?</p>
</div>
<div class="wrapper_public">
	<ul class="public_wall">
		<span class="artsy">
			<%= render :partial => 'activityart', :collection => @activities%>
		</span>			
		<span class="clear"></span>
		<div class="summer_pencil" id="iphone_pencil">
			<a href="https://itunes.apple.com/us/app/canu-get-together/id697998179"><div class="write">write via canu</div></a>
		</div>
		<div class="summer_pencil" id="normal_pencil">
			<a href="https://docs.google.com/forms/d/1AmUF41MmNNT0LsGybUtHgFjki-MPKl6aWj-YC4r6Px0/viewform" target="_blank"><div class="write">write via canu</div></a>
		</div>
	</ul>
</div>
