<p class="hw_header">Hang with the gang</p>
<p class="hw_desc">An opportunity to hang with your idol and show them <b>your favourite activity</b></p>
<span class="clear"></span>
<div class="hw_holder">
	<div class="hw_obj hw_band">
		<p class="band_name">The Fooo</p>
		<p class="band_desc">When the four members of The Fooo decided to form a group, it stood clear that the multi-talented teenagers would bring some much needed spark to an already existing genre. Now, they are ready to take on the world</p>
	</div>
	<div class="hw_obj hw_photo"></div>
	<div class="hw_obj hw_steps">
		<p><b>1.</b> Download the app CANU</p>
		<p><b>2.</b> Invite your friends to your favourite activity</p>
		<p><b>3.</b> Get Together, have fun and wait for The Fooo to join you</p>
	</div>
</div>

<div class="hw_bottom">
	<div class="centering">
		<a href="#" class="logo_canu"></a>
		<a href="#" class="logo_spotify"></a>
	</div>
</div>
<div class="full_shade"></div>







