<h1>Hi!</h1>

<p>Please confirm your email by clicking <%= link_to 'here', confirm_email_url(@user.id)%>. We will notify you when you get your code.</p>

<p>Thank you!</p>


<p>CANU - Get going together</p>