<div class="authorization_header">Who are you?</div>
<div class="authorization_form">
	<div class="input_classic">
		<input name="user[confirm_password]" class="authorization" placeholder="Full Name"/>
	</div>
	<div class="input_classic">
		<input name="user[email]" type="submit" class="submit" value="save" id="submit_save_name"/>
	</div>	
	<a class="guidance">Your name will be shown and saved for future.</a>
	<a class="guidance_option" id="cancel_add_data">Cancel</a>
</div>