<div class="add_data">
	<div class="addname_form">
	
		<a class="authorization_header">Who are you?</a>
		<div class="input_classic">
			<input name="user[confirm_password]" class="authorization" placeholder="Full Name"/>
		</div>
		<div class="input_classic">
			<a ontouchstart=""><input name="user[email]" type="submit" class="submit" value="save" id="submit_save_name"/></a>
		</div>	
		<a class="guidance">Your name will be shown and saved for future.</a>
		<a class="guidance_option" id="cancel_add_data">Cancel</a>
	</div>
</div>
<div class="wrapper">
	<div class="activity_container">
		<div class="creator_info">
			<img src="/assets/webapp/icon.png" class="creator_userpic"/>
			<a class="creator_name">Masey Wilson</a>
			
			<span class="activity_hours">09:00 - <span>09:45</span></span>	
			<span class="activity_date">15 Apr</span>
		
		</div>
		<div class="activity_header">
			<div class="map">
				<iframe width='100%' height='100%' frameBorder='0' src='https://a.tiles.mapbox.com/v3/vinitiate.ggnah1pf/mm/zoomwheel.html?secure=1#11/59.3269/18.1079'></iframe>
			</div>
			<p class="activity_title">Badminton</p>
			<p class="activity_address">Johanneshovsbron, Stockholm, 118 60</p>
			<p class="activity_description">Game On</p>
		
		</div>
		<div class="activity_chat">
			<ul>
				<li>
					<img src="/assets/webapp/icon_userpic@2x.png" class="creator_userpic"/>
					<a class="guest_name">Masey Wilson</a>
					<p class="chat_message">Hoy, can I bring my cat?</p>
				</li>
				<li>
					<img src="/assets/webapp/icon_userpic@2x.png" class="creator_userpic"/>
					<a class="guest_name">Monika Black</a>
					<p class="chat_message">Yes, you can!</p>
				</li>
				<li>
					<img src="/assets/webapp/icon_userpic@2x.png" class="creator_userpic"/>
					<a class="guest_name">Dominic Yellow</a>
					<p class="chat_message">This is complete;y impossible. My friends hate cats. Everyone does. No way! I will not come if you bring your cat.</p>
				</li>
				<li>
					<img src="/assets/webapp/icon_userpic@2x.png" class="creator_userpic"/>
					<a class="guest_name">Masey Wilson</a>
					<p class="chat_message">Hoy, can I bring my cat?</p>
				</li>
				<li>
					<img src="/assets/webapp/icon_userpic@2x.png" class="creator_userpic"/>
					<a class="guest_name">Monika Black</a>
					<p class="chat_message">Yes, you can!</p>
				</li>
				<li>
					<img src="/assets/webapp/icon_userpic@2x.png" class="creator_userpic"/>
					<a class="guest_name">Dominic Yellow</a>
					<p class="chat_message">This is complete;y impossible. My friends hate cats. Everyone does. No way! I will not come if you bring your cat.</p>
				</li>
				<li class="leave_message">
					<div class="input_chat">
						<input class="authorization" placeholder="Say something nice..."/>
						<a ontouchstart=""><input type="submit" class="chat_submit"/ value="send"></a>
					</div>
				</li>
			</ul>
		</div>
		<div class="activity_menu">
			<a href="http://www.canu.se"><div class="home_button"></div></a>
			<div class="people_button">8</div>
			<div class="go_button"></div>
			<div class="going_button"></div>
		</div>
	</div>
	<div class="activity_people_wrapper">
		<ul class="people_list">
			<li>
				<img src="/assets/webapp/icon_userpic@2x.png" class="creator_userpic"/>
				<a class="guest_name">Masey Wilson</a>
				<a class="guest_username">thewolfy</a>
			</li>
			<li>
				<img src="/assets/webapp/icon_userpic@2x.png" class="creator_userpic"/>
				<a class="guest_name">Masey Wilson</a>
				<a class="guest_username">785jj</a>
			</li>
			<li>
				<img src="/assets/webapp/icon_userpic@2x.png" class="creator_userpic"/>
				<a class="guest_name">Masey Wilson</a>
				<a class="guest_username">gaor_fly</a>
			</li>
			<li>
				<img src="/assets/webapp/icon_userpic@2x.png" class="creator_userpic"/>
				<a class="guest_name">Mat_bly</a>
			</li>
			<li>
				<img src="/assets/webapp/icon_userpic@2x.png" class="creator_userpic"/>
				<a class="guest_name">Masey Wilson</a>
				<a class="guest_username">thewolfy</a>
			</li>
			<li>
				<img src="/assets/webapp/icon_userpic@2x.png" class="creator_userpic"/>
				<a class="guest_name">Masey Wilson</a>
				<a class="guest_username">785jj</a>
			</li>
			<li>
				<img src="/assets/webapp/icon_userpic@2x.png" class="creator_userpic"/>
				<a class="guest_name">Masey Wilson</a>
				<a class="guest_username">gaor_fly</a>
			</li>
			<li>
				<img src="/assets/webapp/icon_userpic@2x.png" class="creator_userpic"/>
				<a class="guest_name">Mat_bly</a>
			</li>
		</ul>
		<div class="activity_menu">
			<div class="back_button" id="bb_ppl_list"></div>
		</div>
	</div>

</div>
