<div class="feature">
 	<p class="lockdown_header">This lockdown is for a<br> good reason - it really is.</p>
	<p class="body_lk">
The Local part is an extension of your Tribe. This is where you meet new people and find new interesting things to do. Only with enough people can the Local part work the way intended, right?
	</p>
	<p class="body_lk">
Before we let everyone in we want to make sure that it delivers a valuable experience. We’ll do so by letting in a limited amount of Early Birds. These outgoing people will create the mood and culture in their areas.
	</p>
	<p class="body_lk">
	Want to become an Early Bird ? <a href="mailto:earlybirds@canu.se?&subject=Early%20Bird&body=Hey CANU People!%0D%0A%0D%0AI'll%20be%20a%20kick-ass%20early%20bird.%20This%20is%20why:%0D%0A%0D%0A-%0D%0A%0D%0A-%0D%0A%0D%0A-%0D%0A%0D%0A%0D%0A%0D%0ACheers" target="_top">Tell us why.</a>
	</p>
	<div class="pipe_image"></div>
	<span class="clear"></span>
	<div class="bottom_spacer"></div>				
</div>	
