<div class="feature">
 	<p class="intro_header">This lockdown is for a<br> good reason - it really is.</p>
	<p class="body">
Only with enough people can the Local part work the way intended. We want to make sure that it delivers a valuable experience before we let everyone in.
	</p>
	<p class="body">
We’ll do so by letting in Early Birds. These outgoing people will be first to create the mood and culture in their areas.
	</p>
	<p class="body">
	Want to become an Early Bird ? Tell us why.
	</p>
	<div class="bottom_spacer"></div>				
</div>	

