<div class="feature">
 	<p class="intro_header">This lockdown is for a<br> good reason - it really is.</p>
	<p class="body">
Only with enough people the Local part can work the way intended. Before we let everyone in we want to make sure that <!--it’s valuable to have the access.--> it delivers a valuable experience.
	</p>
	<p class="body">
We’ll do so by letting in a limited amount of Early Birds. These are outgoing people will create the mood and culture in their areas.
	</p>
	<p class="body">
	Want to become an Early Bird ? Tell us why.
	</p>
	<div class="bottom_spacer"></div>				
</div>	

