<div class="section_normal">
	<div class="feature">
	 	<p class="intro_header">This lockdown is for a good reason - it really is.</p>
		<p class="body">
		<b>Our goal</b> with the app you’re now looking at has always been to make it easier for you and everyone else to get together with their friends. Likewise, we want to give you the possibility to expand your circle of friends in a casual way. <b>We believe</b> that it’s through shared interests and activities that we really connect with one another. 
		</p>
		<p class="body">
	For us, CANU already makes it easier to get together with friends. We hope it does the same for you. With Local our vision is to enable us and you to get together with everyone, everywhere.
		</p>
		<p class="header">Local communities</p>
		<p class="body"><i>Only with enough people can the Local part work the way it was intended.</i> </p>
		<p class="body">
	Local communities are formed by people in a specific area and will be accessible to anyone who’s there. Go ahead and click <i>“I want in”</i> to be among those people. 
		</p>
		<p class="body">
	But before we open it up to everyone who <i>“wants in”</i> we need to get the Local communities started and we need people with the will and courage to do so; we call them early birds.
		</p>
		<p class="header">Early Birds</p>
		<p class="body">Early birds are people who we think have the right mindset to start a community. These users have early access to the local feed and with that the responsibility to create the mood and culture in their local area.
		</p>
		<p class="body">
		Want to become an early bird? Make sure you clicked the <i>“I want in”</i>- button and follow this link and we’ll get back to you.
		</p>
		<p class="body">
		Best Regards,
		Vivien, Léa, Roger, Didrik and Vitali
		</p>
		<div class="bottom_spacer"></div>				
	</div>	
</div>	

  