<div class="feature">
 	<p class="intro_header">This lockdown is for a good reason - it really is.</p>
	<p class="body">
Only with enough people the Local part can work the way it was intended. So, before we let everyone in we want to make sure that it’s functional and that there is value in having the access. 
	</p>
	<p class="body">
We’ll do so by letting in a limited amount of brave and outgoing people who want to meet new faces in their area.  We call them Early Birds. Together with early access to the Local feed they’ll have the responsibility to create the mood and culture in their area.
	</p>
	<p class="body">
	If you should become an Early Bird, motivate why you're interested.
	</p>
	<p class="body">
	People of CANU
	</p>
	<div class="bottom_spacer"></div>				
</div>	

