<div class="authorization_header">Hej</div>
<div class="authorization_form">
	<div class="input_classic">
		<input class="authorization" placeholder="Username or Email"/>
	</div>
	<div class="input_classic">
		<input name="user[confirm_password]" type="password" placeholder="Password"/>
	</div>	
	<div class="input_classic">
		<a href="<%=fullview_signedin_url%>"><input type="submit" class="submit" value="Sign In"/></a>
	</div>	
	<a class="guidance"></a>
	<a class="guidance_option" href="<%=resetpassword_url%>">Forgot Password</a>
	<a class="guidance_option" href="<%=iamnew_account_url%>">I'm New</a>
</div>