<div class="city_holder" id="stockholm">
	<div class="center_holder">
		<div class="city_header">
			<p class="city_landing">Sommaren vi Skapar </p>
		</div>
		<ul class="city_activities">
			<p class="title">Fika,</p>
			<p class="title">Football,</p>
			<p class="title">Beers in the Park,</p>
			<p class="title">Tennis,</p>
			<p class="title">Marry J,</p>
			<p class="title">Common What?,</p>
			<p class="title">Singing,</p>
			<p class="title">Snorkeling,</p>
			<p class="title">Fika,</p>
			<p class="title">Football,</p>
			<p class="title">Beers in the Park,</p>
			<p class="title">Tennis,</p>
			<p class="title">Marry J,</p>
			<p class="title">Common What?,</p>
			<p class="title">Singing,</p>
			<p class="title">Snorkeling,</p>
		</ul>
	</div>
</div>