/*= require reset-min
/*= require_self

/* CSS Document */
@charset "utf-8";

html,body{
	width:100%;
	height:100%;
	background-color: rgba(28, 166, 195, 1);
	letter-spacing: 0.1em;
	font-family: 'Lato', sans-serif;
}

input {
	letter-spacing: 0.05em;
}

a:link {color: rgba(255, 255, 255, 0.8);}
a:visited {color: #fff;}

/******************************
General
*******************************/

div.content {
	width: 960px;
	height: 1200px;
	background-color: rgba(28, 166, 195, 0.9);
	position: absolute;
	top:0;
	left: 50%;
	margin-left: -480px;
	z-index: 1100;
}

div.content_top {
	width: 960px;
	height: 400px;
	position: absolute;
	left: 50%;
	margin-left: -480px;
	z-index: 900;
}

div.content_top_full {
	width: 100%;
	height: 400px;
	position: absolute;
	top:0;
	left:0;
	z-index: 800;
	background-color: rgba(229, 245, 255, 1);
}

#underwater{
	background-color: rgba(28, 166, 195, 1);
	z-index: 900;
	width:100%;
	height:1200px;
	position: absolute;
	top: 400px;
	padding-bottom: 100px;
}

/******************************
Content
*******************************/


p.iceberg {
	color: #fff;
	width: 542px;
	font-size: 28px;
	height: auto;
	text-align: center;
	top: 140px;
	left: 209px; 
	font-weight: 300;
	position: absolute;
	line-height: 48px;
	z-index: 3100;
	opacity: 0.3;
	
}

p.iceberg:hover {
	opacity: 0.8;
	
}


div.dive_in {
	color: #fff;
	width: 140px;
	font-size: 16px;
	height: 60px;
	background-color: rgba(255, 255, 255, 0.1);
	text-align: center;
	top: 40px;
	left: 410px; 
	position: absolute;
	line-height: 58px;
	z-index: 3100;
	
}

div.dive_in:hover {
	border: 1px solid rgba(255, 255, 255, 0.2);
	margin-left: -1px;
	margin-top: -1px;
	cursor: pointer;
}

div.why_dive {
	position: absolute;
	text-align: center;
	width: 500px;
	left: -180px;
	top: 80px;
	color: #fff;
	font-size: 14px;
}

#iceberg_main {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -510px;
	width: 960px;
	z-index: 1000;
	opacity: 0.7;
}

#iceberg_main img {
	width: 900px;
	margin-left: 62px;
}

div.underworld_content{
	width: 960px;
	height: auto;
	position: absolute;
	left: 50%;
	margin-left: -480px;
	top: 1000px;
	z-index: 2010;
	min-height: 800px;
}

div.logo_top {
	position: absolute;
	width: 100px;
	top: 40px;
	left: 50%;
	margin-left: -480px;
	z-index: 2000;
}

/******************************
 SURFACE DETAILS
*******************************/

div.surface_info{
	position: absolute;
	height: 120px;
	width: 420px;
	background-color: rgba(10, 10, 10, 0.0);
	top: -200px;
	left: 50%;
	margin-left: -210px;
	z-index: 2100;
}

div.surface_info p.surface_header{
	text-align: center;
	color: #6D6E7A;
	font-size: 38px;
	line-height: 48px;
	z-index: 2100;
}

div.surface_info p.surface_header span{
	color: #ED5F57;
}


#baloon {
	width: 72px;
	position: absolute;
	top: -140px;
	left: 380px;
	z-index: 1000;
}

div.surface_info div.codes{
	position: absolute;
	height: 38px;
	width: 162px;
	background-color: rgba(10, 10, 10, 1);
	top: 54px;
	z-index: 1800;
	left: 480px;
}

a.alpha_button {
	position: absolute;
	height: 36px;
	width: 160px;
	border: 1px solid rgba(255, 255, 255, 0.8);
	font-weight: bold;
	line-height: 36px;
	font-size: 12px;
	text-align: center;
	right: 0;
	top: 0;
	z-index: 1900;
}

a.alpha_button:hover {
	cursor: pointer;
	border: 1px solid rgba(255, 255, 255, 0.4);
}

a.i_got{
	background-color: rgba(234, 95, 87, 1);
	color: #fff;
	}

a.i_got:hover {
	background-color: rgba(234, 95, 87, 1);
	color: #fff;
	}	
	
a.i_want{
	position: absolute;
	border: none;
	color: #6D6E7A;
	font-size: 10px;
	font-weight: 400;
	text-align: right;
	right: 4px;
	top: 50px;
	cursor: pointer;
}

a.i_want:hover {
	text-decoration: underline;
}






















/******************************
Underwater
*******************************/


div.apple{
	width: 960px;
	height: auto;
	float: left;
	outline: none;
	clear: both;
	padding-top: 20px;
}

div.apple p.left {
	font-size: 28px;
	line-height: 38px;
	color: #fff;      
	padding: 20px;
	float: left;
	width: 600px;
	margin-top: 40px;
	padding-bottom: 100px;
}

div.apple p.header {
	font-size: 38px;
	line-height: 48px;
	float: left;
	color: #fff;      
	font-weight: 700;
	padding: 20px;
	margin-top: 40px;
}

div.apple p.body {
	font-size: 14px;
	line-height: 22px;
	color: #fff;      
	font-weight: 400;
	padding: 20px 342px 20px 20px;
	float: left;
	width: 600px;
}


ul.menu_bottom {
	width: 960px;
	height: 38px;
	float: left;
	outline: none;
	margin-left: -4px;
	clear: both;
	background-color: rgba(255, 255, 255, 0.0);
}

ul.menu_bottom li{
	float: left;
	margin: 4px;
	margin-right: 0;
	width: auto;
	padding: 0 20px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	color: #fff;
	text-align: center;
}

ul.menu_bottom a.other{
	float: left;
	margin: 4px;
	margin-right: 0;
	width: auto;
	padding: 0 20px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	color: #fff;
	text-align: center;
}

ul.menu_bottom a.other:hover{
	opacity: 0.8;
}

ul.menu_bottom li:hover{
	opacity: 0.8;
}

ul.menu_bottom li.active{
	background-color: rgba(255, 255, 255, 1);
	color: #6D6E7A;
}

ul.menu_bottom li.active a{
	color: #6D6E7A;
}

ul.menu_bottom li.active:hover{
	opacity: 1;
}






/******************************
Team
*******************************/


span.team {
	float: left;
	width: 960px;
	height: auto;
	display: block; 
	padding-bottom: 200px;
}

span.team  ul.team{
	float: left;
	width: 924px;
	height: 322px;
	margin-left: 20px;
	margin-top: 40px;
	
}

span.team  ul.team li{
	float: left;
	width: 227px;
	height: 322px;
	margin-right: 4px;
	background-position: 227px 0;
	cursor: pointer;
}

span.team  ul.team li:hover{
	background-position: 0 0;
}


span.team  ul.team li#did{
	background-image: url(/assets/team/didrik.png);
}


span.team  ul.team li#vit{
	background-image: url(/assets/team/vitali.png);
}


span.team  ul.team li#seb{
	background-image: url(/assets/team/sebastian.png);
}

span.team  ul.team li#rog{
	background-image: url(/assets/team/roger.png);
}


span.team ul.team li:last-child{
	margin-right: 0;
}

span.team  ul.details{
	float: left;
	width: 920px;
	height: 180px;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: -100px;
}

span.team  ul.details li{
	float: left;
	width: 227px;
	margin-right: 4px;
}

span.team ul.details li:last-child{
	margin-right: 0;
}

span.team  ul.details li p.name{
	float: left;
	width: 225px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	text-align: left;
	font-weight: 700;
	word-spacing: 0.1em;
	text-transform: capitalize;
}

span.team  ul.details li p.title{
	float: left;
	width: 225px;
	margin-top: 10px;
	line-height: 18px;
	color: #fff;
	font-size: 12px;
	text-align: left;
	text-transform: capitalize;
}

span.team  ul.details li p.email{
	float: left;
	width: 225px;
	line-height: 18px;
	margin-top: 10px;
	color: #fff;
	font-size: 12px;
	opacity: 0.3;
	text-align: left;
}


div.member_story {
	position: relative;
	top: 326px;
	left: 0;
	width: 920px;
	height: 322px;
	background-color: rgba(255, 255, 255, 1);
}


div.member_story p.story{
	position: absolute;
	top:60px;
	left: 0;
	padding: 40px;
	font-size: 14px;
	line-height: 22px;
	color: rgba(28, 166, 195, 1);      
	font-weight: 400;
	float: left;
	width: 610px;
}

div.member_story p.member_name{
	position: absolute;
	top:0;
	left: 0;
	padding: 40px;
	font-size: 28px;
	font-weight: 700;
	line-height: 28px;
	color: rgba(28, 166, 195, 1);      
	font-weight: 400;
	float: left;
	width: 600px;
}




/******************************
Form
*******************************/

#confirmation{
	position: absolute;
	width: 400px;
	height: 400px;
	text-align: center;
	top: 50%;
	left: 50%;
	margin: -200px 0 0 -200px;
	line-height: 400px;
	
	z-index: 3000;
	font-size: 38px;
	background-color: rgba(255, 255, 255, 1);
	color: rgba(164, 205, 210, 1);
}

div.form_window{
	position: absolute;
	width: 492px;
	height: 54px;
	right: -8px;
	top: -8px;
	z-index: 2000;
	background-color: rgba(235, 235, 235, 1);
}

div.form_window_code{
	position: absolute;
	width: 650px;
	height: 54px;
	right: -8px;
	top: -8px;
	z-index: 2000;
	background-color: rgba(235, 235, 235, 1);
}

.error_border {
	border: 2px solid rgba(237, 95, 87, 1);
	margin-top: -2px;
	margin-right: -2px;
	}

div.input_holder {
	width: 148px;
	height: 30px;
	float: left;
	margin: 9px 0px 40px 9px;
}

div.input_holder input{
	width: 100%;
	height: 36px;
	padding: 0 8px;
	border: 1px solid rgba(235, 235, 235, 1);
	background-color: rgba(255, 255, 255, 1);
	font-size: 12px;
	outline: none;
	box-shadow: inset 1px 1px 0 rgba(109, 110, 122, 0.3);
	color: #6D6E7A;
}

div.input_holder input:hover {
	box-shadow: inset 1px 1px 0 rgba(109, 110, 122, 0.5);
}

div.input_holder span.label{
	color: #fff;
	font-size: 12px;
	float: left;
	height: 20px;
}


div.input_holder input.submit_button {
	position: absolute;
	height: 38px;
	width: 162px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	font-weight: bold;
	line-height: 36px;
	font-size: 12px;
	text-align: center;
	right: 8px;
	top: 8px;
	z-index: 2000;
	cursor: pointer;
	background-color: rgba(164, 205, 210, 1);
	color: #fff;
	box-shadow: none;
}

input.submit_button:hover {
	background-color: rgba(255, 255, 255, 1);
}


div.social_connect {
	position: absolute;
	width: 960px;
	left: 0;
	bottom: 0;
	height: 40px;
	background-color: fuchsia;
	z-index: 10000;
}






