<li>
	<img src="http://api.canu.se/<%=attendee['profile_pic']%>" onerror="MissingUserpic(this);" class="creator_userpic"/>
	<a class="guest_name"><%= attendee['first_name']%></a>
	<a class="guest_username"><%= attendee['user_name']%></a>
</li>