<div class="authorization_header">Your Profile</div>
<div class="authorization_form">
	<div class="input_classic">
		<input class="authorization" placeholder="Full Name"/>
	</div>
	<div class="input_classic">
		<input class="authorization" type="email" placeholder="e-mail"/>
	</div>	
	<div class="input_classic">
		<a href="<%=fullview_signedin_url%>"><input type="submit" class="submit" value="done"/></a>
	</div>	
	<a class="guidance">Your e-mail is used for signin and password recovery</a>
</div>