<!DOCTYPE HTML!>
<html>
	<head>
		<meta charset="utf-8">
		<title><%=@title%></title>

		<meta http-equiv="Content-language" content="en" /> 
		<meta name="Keywords" content="CANU, app, activities, stockholm, hyper island">
		<meta name="Description" content="CANU is an app that makes it fast and simple for you to share and join spontaneous activities on the go.">		
	
		<!--<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css">-->
		<%= stylesheet_link_tag 'style' %>
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
		
		<%= javascript_include_tag "application" %>
		
		<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico"> 
	   
	    <script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-39022803-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
				
	</head>
	<body>
		<%= yield%>

	</body>
</html>


