<!DOCTYPE> 
<html>
<head>
<meta charset="utf-8">
<title><%=@title%></title>
<%= stylesheet_link_tag 'style' %>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<link rel="shortcut icon" href="/assets/favicon.ico" type="image/ico">

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39022803-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script type="text/javascript">
   
    $(document).ready(function(){
		
		$('#form_menu div').hide();
		if($('.form_holder_errors').length != 0){	
			$('.form_holder_errors').show();
		};

		$('#form_menu ul li a').click(function(){
			$('#form_menu ul li').removeClass('active');
				$(this).parent().addClass('active');
					var currentTab = $(this).attr('href');
			$('#form_menu div').hide();
			$(currentTab).show();
			return false;
		});
		
		$('body').click(function(){
		if($(':focus').prop("tagName") != 'INPUT'){
		$('#form_menu ul li').removeClass('active');
			$('#form_menu div').hide();
			//alert($(':focus').prop("tagName"));
		}
		
			
		});
	});
	

</script>
</head>

	<body id="mainbody">

		<%=yield%>
		
	</body>
	
</html>


