<li>
	<img src="http://api.canu.se/<%=chat_message['user']['profile_pic']%>" onerror="MissingUserpic(this);" class="creator_userpic"/>
	<a class="guest_name"><%=chat_message['user']['user_name']%></a>
	<p class="chat_message"><%=chat_message['text']%></p>
</li>